[2015-02-13 14:38] mvcbot opened #18 "Internationalization"
**Original issue OZARK-1 created by Santiago Pericas-Geertsen:**

All strings in errors and exceptions need to be internationalized.

[2015-02-13 15:46] mvcbot opened #19 "Explore @Produces on ViewEngine"
**Original issue OZARK-2 created by Santiago Pericas-Geertsen:**

Should the view engine lookup mechanism support @Produces like MBWs in JAX-RS? Or is the current approach of calling supports() sufficient?

[2015-02-22 21:11] mvcbot opened #20 "provide a sample that shows how to integrate mustache engine in mvc"
**Original issue OZARK-3 created by turini:**

I've already sent the diff/patch to issues@ozark.java.net

[2015-02-23 18:32] mvcbot opened #21 "New sample showing integration with Thymeleaf"
**Original issue OZARK-4 created by turini:**

You can see the <diff>(https://github.com/Turini/ozark/commit/86b22a6cd6fd38281fdb99dcba2044008a1187c1] and [patch|https://github.com/Turini/ozark/commit/86b22a6cd6fd38281fdb99dcba2044008a1187c1.patch) here.

[2015-02-23 18:34] mvcbot opened #22 "New sample showing integration with Velocity"
**Original issue OZARK-5 created by turini:**

You can see the <diff>(https://github.com/Turini/ozark/commit/953c5a14d07f814901c639b8b04c398fb4f24c9c] and [pacth|https://github.com/Turini/ozark/commit/953c5a14d07f814901c639b8b04c398fb4f24c9c.patch) here.

[2015-02-24 15:49] mvcbot opened #23 "Create ext directory for all view engine extensions"
**Original issue OZARK-6 created by Santiago Pericas-Geertsen:**

View engine "community" extensions will be compiled as separate modules instead of examples. We should also create a top-level pom.

[2015-02-24 15:51] mvcbot opened #24 "Validate CDI fixes in latest Jersey/GF"
**Original issue OZARK-7 created by Santiago Pericas-Geertsen:**

Issue explained in 'validation' sample. Should be fixed in Jersey 2.16. Needs verification.

[2015-02-24 16:04] mvcbot opened #25 "Add PMD to build"
**Original issue OZARK-8 created by Manfred Riem:**

[2015-02-24 16:04] mvcbot opened #26 "Add FindBugs to build"
**Original issue OZARK-9 created by Manfred Riem:**

[2015-02-24 16:05] mvcbot opened #27 "Add Jacoco to build"
**Original issue OZARK-10 created by Manfred Riem:**

[2015-02-24 17:05] #25 closed, assigned to nobody

[2015-02-25 14:46] mvcbot opened #28 "Support for BindingResult"
**Original issue OZARK-11 created by Santiago Pericas-Geertsen:**

MVC would benefit from an alternative mechanism to handle validation errors. The interface ValidationResult was defined for that purpose, but it is currently not supported by the underlying JAX-RS framework (Jersey).

[2015-02-25 14:47] #26 closed, assigned to nobody

[2015-02-25 15:14] mvcbot opened #29 "Logging support"
**Original issue OZARK-12 created by Santiago Pericas-Geertsen:**

Support for logging.

[2015-02-26 14:57] #24 closed, assigned to nobody

[2015-02-26 15:17] #23 closed, assigned to nobody

[2015-03-08 22:09] mvcbot opened #30 "New sample showing integration with Handlebars"
**Original issue OZARK-13 created by rahmanusta:**

Ozark and Handlebars integration sample

[2015-03-09 18:02] mvcbot opened #31 "Implementation of redirect scope"
**Original issue OZARK-14 created by Santiago Pericas-Geertsen:**

Support for @RedirectScoped and related artifacts.

[2015-03-10 17:20] mvcbot opened #32 "Improve test coverage"
**Original issue OZARK-15 created by Santiago Pericas-Geertsen:**

Ongoing tasks to keep track of our test coverage improvements.

[2015-03-11 12:50] #21 closed, assigned to nobody

[2015-03-11 12:57] #22 closed, assigned to nobody

[2015-03-11 12:57] #20 closed, assigned to nobody

[2015-03-11 12:58] #19 closed, assigned to nobody

[2015-03-12 14:04] mvcbot opened #33 "Extract TemplateEngine to an instance variable"
**Original issue OZARK-16 created by turini:**

according to the thymeleaf's author, TemplateEngine needs to perform quite a lot of initialization when it's created, so the current use would be quite under-performant.

[2015-03-12 15:26] #30 closed, assigned to nobody

[2015-03-12 17:47] #33 closed, assigned to nobody

[2015-03-17 15:46] mvcbot opened #34 "Support for redirect"
**Original issue OZARK-17 created by Santiago Pericas-Geertsen:**

Already provided by JAX-RS, but we can experiment with string-based solutions like "redirect:/foo/bar".

[2015-03-17 15:47] mvcbot opened #35 "Support for forward"
**Original issue OZARK-18 created by Santiago Pericas-Geertsen:**

To allow forwarding a request from one controller to another, but without client interaction like in a redirect.

[2015-03-17 15:52] mvcbot opened #36 "Use of file extensions and absolute paths need unification across view engines"
**Original issue OZARK-19 created by Santiago Pericas-Geertsen:**

Some use "." and some not. Some honor absolute paths some don't. Share some of this code in a base class.

[2015-03-17 15:54] mvcbot opened #37 "Ensure text/html is used as default media type"
**Original issue OZARK-20 created by Santiago Pericas-Geertsen:**

In some cases, the default media type for a controller is not set and text/plain is returned instead.

[2015-03-17 15:55] #34 closed, assigned to nobody

[2015-03-17 18:47] #36 closed, assigned to nobody

[2015-03-27 14:21] mvcbot opened #38 "Run tests against WLS"
**Original issue OZARK-21 created by Manfred Riem:**

[2015-03-27 18:05] mvcbot opened #39 "Make sure Javadoc plugin accurately specifies title for both API and implementation"
**Original issue OZARK-22 created by Manfred Riem:**

[2015-03-30 06:09] mvcbot opened #40 "The Thymeleaf and Velocity engines are stilll in a "test" package"
**Original issue OZARK-23 created by Christian Kaltepoth:**

The Thymeleaf and Velocity engines are still using a package named "test".

[code]

I'll fix this later today if there are no objections.

[2015-03-30 06:20] mvcbot opened #41 "Cleanup .gitignore and remove unnecessary files"
**Original issue OZARK-24 created by Christian Kaltepoth:**

1. There are currently 10 different `.gitignore` files spread across the folder structure. We should unify these to a single `.gitignore` in the root directory.

2. There are some cases of accidentally committed files which we should remove (for example `ext/thymeleaf/.DS_Store`).

I'll fix this later today if there are no objections.

[2015-03-30 14:48] mvcbot opened #42 "provide ozark-stringtemplate integration"
**Original issue OZARK-25 created by turini:**

You can see more about this template engine <here>(http://www.stringtemplate.org).

It was requested by a user on <the aquarium blog>(https://blogs.oracle.com/theaquarium/entry/templating*in_the_mvc*jsr#comment-1426163309929).
Any objections? If not I'd love to implement this one.

[2015-03-30 14:52] mvcbot opened #43 "provide CSRF protection"
**Original issue OZARK-26 created by turini:**

as mentioned on dev@ozark.java.net, it's important to provide Cross Site Request Forgery protection in MVC

[2015-03-30 15:25] #41 closed, assigned to nobody

[2015-03-30 15:31] #40 closed, assigned to nobody

[2015-04-03 10:59] mvcbot opened #44 "CdiExtension should use @WithAnnotations"
**Original issue OZARK-27 created by Christian Kaltepoth:**

Currently there are warning generated by Weld when deploying Ozark:

[code]

I know CdiExtension isn't doing anything special yet, but we should keep this in mind.

[2015-04-06 12:53] mvcbot opened #45 "Book-cdi example should use a producer"
**Original issue OZARK-28 created by Santiago Pericas-Geertsen:**

To make the example consistent with book-models.

[2015-04-06 14:46] #45 closed, assigned to nobody

[2015-04-07 15:26] mvcbot opened #46 "Implementation and interface class names should not be the same"
**Original issue OZARK-29 created by Christian Kaltepoth:**

There are currently two implementation classes which are named exactly like the corresponding interface. Only the package name is different.

* ValidationResult
**** `javax.mvc.validation.ValidationResult`
**** `com.oracle.ozark.validation.ValidationResult`
* Models
**** `javax.mvc.Models`
**** `com.oracle.ozark.core.Models`

I think thi

[2015-04-08 04:12] mvcbot opened #47 "remove and gitignore Netbeans files"
**Original issue OZARK-30 created by turini:**

just like we did with `*.iml` files

[2015-04-08 04:19] #47 closed, assigned to nobody

[2015-04-08 04:24] mvcbot opened #48 "ozark samples shouldn't be published on maven"
**Original issue OZARK-31 created by turini:**

all of ozark samples were published on maven, but there's no gain since users wont use it as a mvn dependency

[2015-04-08 06:13] mvcbot opened #49 "Return type "Response" not handled correctly"
**Original issue OZARK-32 created by Christian Kaltepoth:**

If a controller methods returns a `Response` representing a redirect, the response is ignored and the view is rendered again.

Sample code:

[code]

[2015-04-08 15:26] #46 closed, assigned to nobody

[2015-04-08 19:18] #48 closed, assigned to nobody

[2015-04-10 14:50] #39 closed, assigned to nobody

[2015-04-14 05:52] mvcbot opened #50 "Extract Handlebars to a producer method"
**Original issue OZARK-33 created by Christian Kaltepoth:**

The `Handlebars` instance used by `HandlebarsViewEngine` should be moved to a producer method to allow uses to specialize it. The producer method should use the `ViewEngineConfig` qualifier.

See the FreemarkerViewEngine for an example:

https://github.com/chkal/ozark/tree/master/ext/freemarker/src/main/java/com/oracle/ozark/ext/freemark

[2015-04-14 05:55] mvcbot opened #51 "Extract MustacheFactory to a producer method"
**Original issue OZARK-34 created by Christian Kaltepoth:**

The `MustacheFactory` instance used by `MustacheViewEngine` should be moved to a producer method to allow uses to specialize it. The producer method should use the `ViewEngineConfig` qualifier.

See the FreemarkerViewEngine for an example:

https://github.com/chkal/ozark/tree/master/ext/freemarker/src/main/java/com/oracle/ozark/ext/freem

[2015-04-14 05:57] mvcbot opened #52 "Extract Thymeleaf's TemplateEngine to a producer method"
**Original issue OZARK-35 created by Christian Kaltepoth:**

The `TemplateEngine` instance used by `ThymeleafViewEngine` should be moved to a producer method to allow uses to specialize it. The producer method should use the `ViewEngineConfig` qualifier.

See the FreemarkerViewEngine for an example:

https://github.com/chkal/ozark/tree/master/ext/freemarker/src/main/java/com/oracle/ozark/ext/freem

[2015-04-14 05:59] mvcbot opened #53 "Extract VelocityEngine to a producer method"
**Original issue OZARK-36 created by Christian Kaltepoth:**

The `VelocityEngine` instance used by `VelocityViewEngine` should be moved to a producer method to allow uses to specialize it. The producer method should use the `ViewEngineConfig` qualifier.

See the FreemarkerViewEngine for an example:

https://github.com/chkal/ozark/tree/master/ext/freemarker/src/main/java/com/oracle/ozark/ext/freema

[2015-04-14 06:11] #53 closed, assigned to nobody

[2015-04-14 06:20] #51 closed, assigned to nobody

[2015-04-14 15:30] #50 closed, assigned to nobody

[2015-04-14 15:38] #52 closed, assigned to nobody

[2015-04-17 14:22] #38 closed, assigned to nobody

[2015-04-21 14:03] #44 closed, assigned to nobody

[2015-04-24 06:50] mvcbot opened #54 "StackoverFlowError for the context root path"
**Original issue OZARK-37 created by bitter_fox:**

When ApplicationPath is "" and Path is "", accessing to context root path makes StackoverFlowError.
Is this already reported or fixed?

Here is the repository to reproduce this issue:
https://github.com/bitterfox/StackoverFlowErrorWithOzark

Here is the stack trace:
	java.lang.StackOverflowError
	at org.glassfish.hk2.utilities.cache.Cache.compute

[2015-04-24 20:00] #37 closed, assigned to nobody

[2015-04-28 12:45] mvcbot opened #55 "@View annotation and null returns"
**Original issue OZARK-38 created by Santiago Pericas-Geertsen:**

For a discussion see https://java.net/jira/browse/MVC_SPEC-30. Allow @View to be used with controller methods with a non-void return value.

[2015-04-28 14:07] #55 closed, assigned to nobody

[2015-04-29 14:13] mvcbot opened #56 "Fallback behavior for controllers with unsupported return types"
**Original issue OZARK-39 created by Santiago Pericas-Geertsen:**

I think it would be very nice if we provide some kind of fallback behavior in cases where controller methods have some other return type. IMO we could for example specify that in this case the implementation has to call toString() on the result and process it as a view name.

For more information see,

https://java.net/jira/browse/

[2015-04-29 14:20] #56 closed, assigned to nobody

[2015-05-04 14:01] #49 closed, assigned to nobody

[2015-05-14 15:35] mvcbot opened #57 "XSS tools to prevent attacks"
**Original issue OZARK-40 created by Santiago Pericas-Geertsen:**

See https://java.net/jira/browse/MVC_SPEC-39

[2015-05-23 16:36] mvcbot opened #58 "Error while handling WebApplicationExceptions"
**Original issue OZARK-41 created by daschner:**

When throwing a WebApplicationException (or a subtype) for following method the server responses with "javax.ws.rs.ServerErrorException: Response entity is null. Missing @View annotation?".
In chapter 3.1 of the EDR it says that the exception handling mechanism is identical to JAX-RS.

However, when including an ExceptionMapper for WebApplicationEx

[2015-05-25 14:11] mvcbot opened #60 "ExceptionMapper for java.lang.Exception only outputs String"
**Original issue OZARK-42 created by daschner:**

When registering an ExceptionMapper for java.lang.Exception the handling doesn't forward the entity of the `Response` to a view as expected, rather than it just outputs the view name as String.

Example:

@Provider
public class GlobalExceptionMapper implements ExceptionMapper<Exception> {

  @Override
  public Response toResponse(final Exception ex

[2015-05-27 07:14] mvcbot opened #61 "ViewEngineFinder doesn't correctly handle @Priority"
**Original issue OZARK-43 created by jolangloys:**

First, There is a typo in the ViewEngineFinder class, line 84:
final int v2 = **p1** != null ? p2.value() : Priorities.DEFAULT;

Also, the use of .getClass().getAnnotation(Priority.class) to select the priority of do not allow the use of other scope than @Dependant, because the proxy class won't have the @Priority annotation.

[2015-05-27 13:21] #61 closed, assigned to nobody

[2015-05-27 13:31] mvcbot opened #62 "Inspecting annotations with proxies"
**Original issue OZARK-44 created by Santiago Pericas-Geertsen:**

Patterns like,

e1.getClass().getAnnotation(Priority.class)

in ViewEngineFinder will not work if e1 is proxied.

[2015-05-27 16:56] #60 closed, assigned to nobody

[2015-06-02 15:04] mvcbot opened #63 "Ensure method annotation inheritance is compatible with JAX-RS"
**Original issue OZARK-45 created by Santiago Pericas-Geertsen:**

The rules related to method inheritance from JAX-RS should be respected. When looking up a method's annotation, methods on base classes may need to be inspected.

[2015-06-02 19:27] mvcbot opened #64 "provide a way to leave @Named bean available on other template engines"
**Original issue OZARK-46 created by turini:**

It'd be nice to automatically leave CDI named beans accessible on other template engines like freemarker, mustache and so on -- when using ozark extensions, just like ozark-freemark.

[2015-06-03 14:30] #63 closed, assigned to nobody

[2015-06-03 14:31] mvcbot opened #65 "Need test for method annotation inheritance"
**Original issue OZARK-47 created by Santiago Pericas-Geertsen:**

We need a test for annotation inheritance according to the JAX-RS rules. See util.AnnotationUtils.

[2015-06-03 14:35] mvcbot opened #66 "Document support for Redirect"
**Original issue OZARK-48 created by Santiago Pericas-Geertsen:**

Need to document forms of redirect.

[2015-06-03 14:39] #66 closed, assigned to nobody

[2015-06-12 15:09] mvcbot opened #67 "Regression in exceptions test using Jersey 2.19"
**Original issue OZARK-50 created by Santiago Pericas-Geertsen:**

A few of the unit tests related to exceptions are failing and are @Ignored now.

[2015-06-24 17:30] mvcbot opened #68 "Align the RI package with the Java EE RI packages"
**Original issue OZARK-51 created by David Delabassee:**

Ozark lives under 'com.oracle.*' while most of the Java EE RIs are using 'org.glassfish'.
Aligning Ozark to use the common 'org.glassfish' namespace would make sense.

[2015-07-09 21:20] #68 closed, assigned to nobody

[2015-07-16 14:53] #58 closed, assigned to nobody

[2015-07-27 12:04] mvcbot opened #69 "Remove Jersey dependency"
**Original issue OZARK-52 created by slamdev:**

Currently it is not possible to run Ozark without Jersey, so it cannot be deployed on the Wildfly\Jboss containers.

If it is not possible to implement the MVC specification on pure JAX-RS probably the pluggable mechanizm of switching between JAX-RS implementations should be done. So it will be possible to run Ozark on both Jersey and Resteasy imple

[2015-07-27 13:03] #69 closed, assigned to nobody

[2015-07-29 13:41] #27 closed, assigned to nobody

[2015-07-29 17:14] mvcbot opened #70 "HTTP 500 error messages not returned by GF"
**Original issue OZARK-53 created by Santiago Pericas-Geertsen:**

In some cases, Ozark returns a 500 error with a message using a ServerErrorException. The HTML file returned by GF does not contain the message thrown by Ozark.

[2015-07-29 18:27] mvcbot opened #59 "Annotation inheritance rules"
**Original issue OZARK-54 created by Santiago Pericas-Geertsen:**

Implementation of annotation inheritance rules and unit testing. The rules are derived from JAX-RS.

[2015-07-30 18:16] #59 closed, assigned to nobody

[2015-08-06 16:36] #32 closed, assigned to nobody

[2015-08-06 17:38] mvcbot opened #71 "Add support for BindingResult"
**Original issue OZARK-55 created by Christian Kaltepoth:**

Currently Ozark doesn't support the new BindingResult.

I could help with this but I would need some explanation regarding how the current integration with Jersey <-> Ozark works.

A first step would be to implement the validation part of BindingResult by refactoring the existing code. We could then get rid of ValidationResult in the API

[2015-08-07 14:37] #57 closed, assigned to nobody

[2015-08-07 14:37] #65 closed, assigned to nobody

[2015-08-07 14:38] #43 closed, assigned to nobody

[2015-08-12 13:57] #28 closed, assigned to nobody

[2015-08-12 13:59] #54 closed, assigned to nobody

[2015-08-12 14:08] mvcbot opened #72 "Implementation of Mvc Class"
**Original issue OZARK-56 created by Santiago Pericas-Geertsen:**

See https://java.net/jira/browse/MVC_SPEC-52.

[2015-08-17 18:06] mvcbot opened #73 "Problems accessing $mvc in Thymeleaf pages"
**Original issue OZARK-57 created by Santiago Pericas-Geertsen:**

See reference to CSS file in Thymeleaf's example. It does not work as expected for some reason.

[2015-08-18 13:55] #31 closed, assigned to nobody

[2015-08-20 15:35] #72 closed, assigned to nobody

[2015-08-20 15:37] #18 closed, assigned to nobody

[2015-08-21 11:34] #73 closed, assigned to nobody

[2015-08-21 15:10] mvcbot opened #74 "Introduce a simple way to handle static resources when application path is /"
**Original issue OZARK-58 created by Manfred Riem:**

[2015-08-21 15:12] mvcbot opened #75 "Introduce a simple way to handle dynamic resources when application path is /"
**Original issue OZARK-59 created by Manfred Riem:**

[2015-08-28 15:10] mvcbot opened #76 "OzarkContainerInitializer ordering issue in plain Servlet containers"
**Original issue OZARK-60 created by Christian Kaltepoth:**

I ran into an issue while trying to set up Ozark on Tomcat 8 with Weld Servlet.

Both Ozark and Weld are using ServletContainerInitializers for bootstrapping. Unfortunately the Servlet spec doesn't guarantee any ordering for execution of the initializers.

The problem is that the Ozark initializers uses CDI.current() and therefore relies

[2015-08-28 16:36] mvcbot opened #77 "NPE after updating from Jersey 2.19 to 2.21"
**Original issue OZARK-61 created by Christian Kaltepoth:**

I'm getting the following NPE after updating Jersey from 2.19 to 2.21.

[code]

[2015-09-18 19:31] #42 closed, assigned to nobody

[2015-10-23 03:46] mvcbot opened #78 "No message associated with CSRF 403 failure"
**Original issue OZARK-62 created by kito75:**

The following code generates a 403 Forbidden error:

[code]

Nothing in the spec says @FormParam does not work, so I'm assuming this is an implementation  bug.

[2015-10-23 05:54] mvcbot opened #79 "CSRF token is only validated if there are @FormParams"
**Original issue OZARK-63 created by Christian Kaltepoth:**

The CSRF page token validation works fine in this case:

[code]

[2015-10-25 18:58] mvcbot opened #80 "CSRF token validated for JAX-RS JSON POST requests"
**Original issue OZARK-64 created by kito75:**

First of all, I'm using Paraya 4.1.1.154 instead of Glassfish nightly because of this bug, which renders JAX-RS pretty useless in many cases: https://github.com/payara/Payara/issues/239.

So, given the following resource method:

[code]

If CSRF protection is set to Csrf.CsrfOptions.IMPLICIT, this returns 403 Forbidden. I would expect that it would n

[2015-10-29 15:21] #80 closed, assigned to nobody

[2015-11-13 15:23] #77 closed, assigned to nobody

[2015-12-20 11:30] mvcbot opened #81 "NPE on ValidationError if @Controller is @Stateless"
**Original issue OZARK-65 created by lefloh:**

If a `@Controller` is a `@Statless` EJB and validation fails Ozark will throw a NPE: because the `BindingResultUtils` don't handle the EJB proxied `BindingResult`:

[code]

The mvc specification explicitly does not support EJBs as MVC classes (chapter 2.1.1) but maybe there's a better way to inform the user that he is doing something wrong.

See also

[2015-12-27 01:24] mvcbot opened #82 "Content Type with charset is not considered in CSRF validation interceptor."
**Original issue OZARK-66 created by kogawa88:**

When content type with charset is set in the form request headers, CsrfValidateInterceptor throws the exception that is unable to validate CSRF.
(For example, it is "application/x-form-www-urlencoded;charset=windows-31j")

There is a problem with the matching determination of content type.
MediaType#isCompatible method should be used.

[2016-01-05 02:06] mvcbot opened #83 "The content type of page directive in jsp code is ignored."
**Original issue OZARK-67 created by kogawa88:**

When fowarding the following jsp page via Ozark, the response always writes the body content with UTF-8 encoding.
[code]

This jsp returns the response with Shift_JIS charset encoding.
The issue can be avoided using JAX-RS api, but it means duplicate declaration of the content type concurrently.
|| How to declare page uri || ||
| @View annotation |

[2016-01-27 12:40] mvcbot opened #84 "IOException when returning a Facelet view from a @POST method"
**Original issue OZARK-68 created by ivar_grimstad:**

Consider the following extremely simple controller method:
[code]

[2016-02-08 19:55] mvcbot opened #85 "Allow null as input value for EncodersImpl"
**Original issue OZARK-69 created by lefloh:**

`org.glassfish.ozark.security.EndocersImpl` currently throws a NullPointerException if the value to be encoded is null. This makes escaping of optional model fields cumbersome, e.g:
[code]

A possible solution can be <found here>(https://github.com/spericas/ozark/commit/453dc4bddd9c77ad9369b5729c965f924799837b).

[2016-02-25 12:28] #76 closed, assigned to nobody

[2016-02-25 18:37] #85 closed, assigned to nobody

[2016-02-27 16:51] #82 closed, assigned to nobody

[2016-02-29 12:08] mvcbot opened #86 "Escaping of UserInput"
**Original issue OZARK-70 created by lefloh:**

UserInput in a view should be escaped if a ViewEngine does not escape by default. Example code should show best practices.

A patch is attached.

[2016-02-29 16:44] #86 closed, assigned to nobody

[2016-03-05 07:39] mvcbot opened #87 "Increase test coverage"
**Original issue OZARK-71 created by lefloh:**

Add some unit tests. See attached patch.

[2016-03-09 14:00] mvcbot opened #88 "Add trimou integration"
**Original issue OZARK-72 created by Martin Kouba:**

* https://github.com/trimou/trimou
* http://trimou.org/doc/latest.html

Notable features:
* implements Mustache
* Helpers API (inspired by Handlebars.js)
* template caching
* template inheritance
* nested templates
* extension points
* built-in extensions (CDI, Servlets, PrettyTime, HtmlCompressor, google-gson, etc.)

[2016-03-12 11:08] mvcbot opened #89 "Return the correct HTTP Status Code when using @View and throwing a WebApplicationException"
**Original issue OZARK-73 created by lefloh:**

[code]

Ozark currently returns the view with the status code 200 but should return the status code of the exception.

see also: https://java.net/projects/mvc-spec/lists/users/archive/2016-03/message/19

[2016-03-12 11:22] mvcbot opened #90 "Allow empty String as value for PathUtils"
**Original issue OZARK-74 created by lefloh:**

Most of the methods of PathUtils like ensureStartingSlash currently don't allow an empty String as parameter.

[2016-03-21 15:54] mvcbot opened #91 "CSRF validation issue when redeploying MVC 1.0 Application"
**Original issue OZARK-75 created by rahmanusta:**

Hi;

When I redeploy a MVC 1.0 application on Glassfish, it gives me HTTP Status 403 - Forbidden error that is related to CSRF validation. If I remove JSESSIONID cookie on browser, then it works normally.

[2016-03-21 16:39] #78 closed, assigned to nobody

[2016-03-28 08:14] #87 closed, assigned to nobody

[2016-03-28 15:46] #62 closed, assigned to nobody

[2016-03-31 06:10] #90 closed, assigned to nobody

[2016-03-31 11:58] #88 closed, assigned to nobody

[2016-04-03 06:07] mvcbot opened #92 "Remove Servlet dependency from ViewEngineContext"
**Original issue OZARK-76 created by ivar_grimstad:**

Implement MVC_SPEC-61

[2016-04-23 16:04] mvcbot opened #93 "Fix file-encoding warning for IntegrationTests"
**Original issue OZARK-77 created by lefloh:**

[code]

[2016-04-24 07:24] #93 closed, assigned to nobody

[2016-04-27 11:16] mvcbot opened #94 "OzarkContainerInitializer expects a CDI container to be started"
**Original issue OZARK-78 created by Martin Kouba:**

That's not necessarily true. Note that the order in which `ServletContainerInitializer` instances are called is not defined (see also SERVLET_SPEC-79). For example <Weld Servlet>(http://docs.jboss.org/weld/reference/latest/en-US/html/environments.html#weld-servlet) is also using `ServletContainerInitializer` to start the CDI container. So it mi

[2016-04-27 12:07] mvcbot opened #95 "ViewableWriter should probably wrap the injected request/response"
**Original issue OZARK-79 created by Martin Kouba:**

It's using `RequestDispatcher.forward()` where:
{quote}
The request and response parameters must be either the same objects as were passed to the calling servlet's service method or be subclasses of the `ServletRequestWrapper` or `ServletResponseWrapper` classes that wrap them.
{quote}
But the injected request and response are actually JAX-RS p

[2016-04-28 15:43] #95 closed, assigned to nobody

[2016-04-29 04:54] #89 closed, assigned to nobody

[2016-04-29 09:22] mvcbot opened #96 "BindingResultUtils dependency on Weld"
**Original issue OZARK-80 created by Martin Kouba:**

See also the static initializer of `BindingResultUtils` - it claims to be a "soft" dependency but it seems the bean validation integration will be unusable if Weld is not available (correct me if I'm wrong).

I think Ozark should either:
* define a proper SPI so that CDI impls can plug in
* or implement "soft" dependency support for all major C

[2016-05-05 08:02] mvcbot opened #97 "Replace CDI-Unit with Deltaspike test-control"
**Original issue OZARK-81 created by lefloh:**

As CDI-Unit depends on Deltaspike test-control and we are not using any special CDI-Unit features we should use Deltaspike test-control to reduce our dependencies.

* <Pull Request>(https://github.com/mvc-spec/ozark/pull/7)
* <Patch File>(https://github.com/mvc-spec/ozark/pull/7.patch)

[2016-05-05 14:30] #97 closed, assigned to nobody

[2016-05-08 20:32] mvcbot opened #98 "Using Editorconfig"
**Original issue OZARK-82 created by lefloh:**

I’d suggest to use <editorconfig>(http://editorconfig.org/) to ensure that every developer uses the same charset, indention settings etc. Here’s a possible configuration file:

[code]

An example is pushed to [this branch](https://github.com/mvc-spec/ozark/compare/master...lefloh:editorconfig).

[2016-05-08 20:46] mvcbot opened #99 "Fix PMD Errors"
**Original issue OZARK-83 created by lefloh:**

There are some PMD Errors which should be fixed.

* <Pull Request>(https://github.com/mvc-spec/ozark/pull/8)
* <Patchfile>(https://github.com/mvc-spec/ozark/pull/8.patch)

[2016-05-09 14:31] mvcbot opened #100 "Upgrade to thymeleaf 3.0.0"
**Original issue OZARK-84 created by eddumelendez:**

Thymeleaf 3 was announced and there are some changes to make mvc compatible with this.

Pull Request:

https://github.com/mvc-spec/ozark/pull/9

[2016-05-10 04:28] #99 closed, assigned to nobody

[2016-05-10 04:35] #98 closed, assigned to nobody

[2016-05-12 06:16] #94 closed, assigned to nobody

[2016-06-04 06:41] #100 closed, assigned to nobody

[2016-11-05 20:04] mvcbot opened #101 "Ozark shouldn't depend on any concrete JAX-RS implementation"
**Original issue OZARK-85 created by dmaidaniuk:**

Currently Ozark has dependencies to Jersey:
[code]
This limits usage of Ozark on other enterprise servers but GlashFish. For example, Wildfly use RESTEasy as JAX-RS implementation and it is not possible easily add Jersey to it.

[2017-02-16 22:59] mvcbot opened #102 "Injecting object models it doesn't work"
**Original issue OZARK-86 created by anibalgomez:**

When creating a project with the maven archetypes and/or adding the web.xml file (simply empty) to a skeleton with ozark, the injection of models (Models) will simply stop working and the variables in the jJSP file will simply show the value ${variable}.

[2017-05-13 09:40] dmaidaniuk commented on #101
Hi @chkal ,

Could you please see to my commit and provide your feedback about it?

Thanks,
Dmytro

[2017-05-14 06:48] chkal commented on #101
@dmaidaniuk Thanks for providing a link to your commit. I'll review it and provide some feedback on the mailing list.

[2017-05-16 23:12] julioa commented on #101
Hi,
My name is Julio and this is my first message to this project. First of all I'd like to thank everybody here keeping this project alive.

I wanted to try this library in a proof of concept I'm building and when I read the comments from @dmaidaniuk I made some tests with wildfly 10. Initially it didn't work for me so I decided to fix it. You can see my changes at https://github.com/julioa/ozark

[2017-05-17 04:01] Daniel-Dos commented on #101
Hi @julioa!

I've tested your fix and works perfectly on Widlfy. But to the forehead in GlassFish / Payara the same does not rise.
By scouring some of its correction I made it work in both wildfly and GlassFish / Payara, simply commenting and uncommenting some lines in the class: OzarkFeature.java.

Were these:

  - from line 95 to 98 comment.
  - from line 100 to 101 - uncomment.
  - line 108 and

[2017-05-17 06:02] chkal commented on #101
Hey @julioa, Hey @Daniel-Dos,

thanks a lot for sharing these details. I already shared some details about the reasons for the Jersey dependency on the official Ozark Development list. Please have a look at my posts here:

https://groups.google.com/forum/?hl=en#!forum/ozark-dev

Feel free to comment and discuss everything there.

[2017-05-17 10:17] julioa commented on #101
Hi @Daniel-Dos

Thanks for your interesting comments  to my post. I'll try to figure out how to make OzarkFeature work with both implementations.

Anyway, I'll move this comments to the forum as @chkal have suggested.

Regards,
J.

[2017-05-31 06:16] chkal commented on #102
@anibalgomez @danieldias:

Any update on this? Is this still an issue?

[2017-05-31 06:17] chkal commented on #102
Tagged with "question" for now. We can change this latter after having more details.

[2017-05-31 06:21] chkal commented on #91
@rahmanusta: As mentioned before I really think this issue is caused by the fact the CSRF tokens are stored in the session. So I'm closing this one for now.

However, I'll create a separate issue so we can explore ways to implement a CSRF token storage that doesn't use the HTTP session.

[2017-05-31 06:21] #91 closed

[2017-05-31 06:24] chkal opened #104 "CSRF tokens should not require a HTTP session"
Currently CSRF tokens are stored in the user session. That makes it impossible to use CSRF tokens in stateless applications. We should explore alternative ways that don't require a HTTP session.

Also see #91 reported by @rahmanusta.

[2017-05-31 06:25] chkal commented on #84
@ivargrimstad Is this issue still relevant? Any news about that?

[2017-05-31 06:40] ivargrimstad commented on #84
I haven't tested it lately, so I guess we should verify it before closing. I'll have a look at it during the weekend

[2017-05-31 07:12] chkal commented on #84
Awesome! Thanks!

[2017-05-31 15:29] chkal commented on #70
@manfredriem wrote that there is nothing. So closing this one.

[2017-05-31 15:29] #70 closed

[2017-05-31 15:42] chkal commented on #64
@turini A few thoughts on this:

IMHO this is a very important feature. The spec currently recommends CDI models over `javax.mvc.Models` but most custom view engines don't support it. That's really bad.

We could collect a list of all names using a CDI extension. That should work fine. However, I don't think it makes sense to obtain all those named beans to put them in the models map as this would

[2017-05-31 15:57] chkal commented on #35
To be honest: I don't see any use case for that. Anyone else? If there is no use case, we should close this.

[2017-05-31 16:03] chkal commented on #29
I'm not sure what we should do fix this. So perhaps we should simply close it?

[2017-06-01 00:01] Daniel-Dos commented on #102
Hello @chkal,

I again tested the @anibalgomez problem today and the same usually ran here on the glassfish.

On the day that it opened this problem, I had tested and misread the value in the view, instead of displaying "Hello World" displayed "hello.jsp" when loading in the browser. In the current project, it uses the "com.oracle.ozark" version m01.

Shortly afterwards send an updated to him with

[2017-06-01 05:18] chkal commented on #102
@Daniel-Dos Awesome! Thanks a lot for your feedback!

[2017-06-01 05:18] #102 closed

[2017-06-04 02:26] Turini commented on #64
hey @chkal

yes, I don't think either that using CDI extensions to put all of the named beans would be good. We definitively could try SPIs and maybe make it optional in each extension.

[2017-06-04 08:19] Daniel-Dos commented on #64
Hi guys !

Searching the site of Thymeleaf, I believe you have found it too. It has an unofficial extension for MVC 1.0 that already implements ViewEngine.

http://www.thymeleaf.org/ecosystem.html#thymeleaf-jsr371

https://github.com/inbuss/thymeleaf-mvc

[2017-06-05 06:51] chkal commented on #64
@Daniel-Dos Thanks for sharing the link. Great find. I didn't know about this project. It would be interesting to see how their implementation compares to the one in Ozark.

@Turini I'm not sure if we really need some SPI for that. Actually, if the template language supports custom implementations for variable resolving, creating one for CDI should be straight forward. Perhaps we should simply sta

[2017-08-15 09:36] rsoika opened #123 "Deployment Guide for Wildfly Servers"
First of all, I want to thank you for continuing the MVC project! MVC is in my eyes an important part to evolve the web frameworks in Java EE.
My main problem since more than one year was to get MVC/Ozark running with Wildfly. Finnally I succeeded with the help of this [blog](http://javaakademie.de/blog/java-ee-8-mvc-ozark-wildfly-tomcat).

I have now written a short readme file summarizing the im

[2017-08-16 14:04] chkal commented on #123
Hey @rsoika,

thanks a lot for your support. I think such a readme is really helpful. Especially for people who would like to experiment with other application servers.

It would be great if we could get this onto the "official" Ozark page. What do you think?

https://www.mvc-spec.org/ozark/

The page source is available on GitHub. Have a look here:

https://github.com/mvc-spec/www.mvc-spec.org

Y

[2017-08-16 18:07] Daniel-Dos commented on #123
Hi @rsoika ,

Thank for share  this link, really that is very good, the post is very explanatory.  I had been looking at a post a while ago, but not as detailed as the one you presented.

https://developer.jboss.org/people/mkouba/blog/2016/03/16/testing-ozark-java-ee-8-mvc-on-wildfly-10

@chkal

I saw in your repository the first works to take the strong tie with Jersey, as was discussed in google

[2017-08-17 06:23] chkal commented on #123
Hey @Daniel-Dos,

yes, I'm currently working on splitting the Ozark code into a core and a jersey module. I just opened #124 which introduces the jersey module. After merging this one we just have to move the binding interceptor to the jersey module as well and we should have a Ozark core module which should work fine with other JAX-RS implementations.

I'll ping you all as soon as this is finishe

[2017-08-17 17:32] rsoika commented on #123
I added the pull request: https://github.com/mvc-spec/www.mvc-spec.org/pull/13

[2017-08-17 20:05] Daniel-Dos commented on #123
Very good @chkal .

{  },s

[2017-08-19 16:44] chkal commented on #123
Closing as mvc-spec/www.mvc-spec.org#13 has been merged. Thanks a lot.

[2017-08-19 16:44] #123 closed

[2017-08-19 17:18] chkal opened #125 "Automatic snapshot deployment"
Our Travis CI build should automatically deploy snapshots to the Sonatype OSS repository. A similar setup is already working for mvc-spec/mvc-spec and mvc-spec/mvc-tck.

[2017-08-19 17:20] chkal opened #126 "Adjust package names to match new artifact ids"
The main package for Ozark is currently `org.glassfish.ozark`. We should change this to `org.mvcspec.ozark` to match our group id naming. We are also not a sub project of Glassfish any more, so the package name update totally makes sense.

[2017-08-19 17:21] chkal opened #127 "Run the TCK as part of the CI build"
We should run the TCK as part of our CI build. This way we will fail early if we violate any spec requirements.

[2017-08-20 07:47] Daniel-Dos opened #128 "surefire-plugin- Bug/Error"
Hi Guys,

In my attempt to build with the current version, I'm frequently getting this error from the surefire plugin.

`[ERROR] Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.18.1:test (default-test) on project ozark-core: Execution default-test of goal org.apache.maven.plugins:maven-surefire-plugin:2.18.1:test failed: The forked VM terminated without properly saying good

[2017-08-20 08:15] chkal commented on #125
Fixed in 70f360cfed5e62a8a5efcb90b3436054ef274bee:

See:
https://oss.sonatype.org/content/repositories/snapshots/org/mvc-spec/ozark/

[2017-08-20 08:15] #125 closed

[2017-08-20 08:19] chkal commented on #128
Hey @Daniel-Dos. Thanks for reporting. Looks like a Surefire plugin bug or something with your setup.

I just updated Surefire to the latest version 2.20 in 4d43a5dc9d249feb5b0f63db6c01d83ca5e2cb88. Could you check if this still happens?

BTW: If you just want to build the latest version, you can also use `mvn -DskipTests clean install` to skip the tests. That's how I do it. ;-)

[2017-08-21 22:13] Daniel-Dos commented on #128
Hello @chkal,

Now it's running smoothly.

I discovered the problem, I was using the following command "mvn clean install -DskipTest", for lack of attention of mine, I did not notice the lack of the "s" at the end. :)

Thank you so much.

[2017-08-21 22:13] #128 closed

[2017-08-22 15:57] chkal commented on #128
Great! Thanks for the update!

[2017-08-26 14:20] chkal opened #129 "Controller detection doesn't work on RESTEasy"
I've started to experiment with using `ozark-core` on Wildfly and ran into the following issue:

Currently the initialization code of Ozark checks if there is at least on controller deployed with the app. This is done by checking the classes returned from `javax.ws.rs.core.Configuraton.getClasses()`. Jersey returns all resource classes here, but RESTEasy only seems to return providers. I'll try to

[2017-08-26 14:22] chkal opened #130 "RedirectScopeManager doesn't work on RESTEasy"
Our class `RedirectScopeManager` is a CDI managed bean but uses `@Context` to obtain:

 * HttpServletResponse
 * javax.ws.rs.core.Configuration

However, this seems to be a Jersey specific feature that `@Context` works on CDI beans.

I think we have to get rid of this requirement somehow.

[2017-08-26 14:36] chkal commented on #130
Same with `OzarkConfig` :-(

[2017-08-27 07:57] rsoika commented on #130
I'm not really deep in the subject. But did you mean the following CDI annotation:

	@javax.ws.rs.core.Context
	private static HttpServletRequest servletRequest;

I use this often in my Rest Service Beans running with RestEasy. But my beans are annotated as @stateless Session EJBs.

[2017-08-27 09:30] chkal commented on #130
Actually `@javax.ws.rs.core.Context` is not a annotation but a JAX-RS annotation. And that's the problem here. Ozark is using `@Context` in plain CDI beans and this only works with Jersey.

[2017-08-27 09:41] chkal commented on #129
I basically disabled the controller discovery for now, which means that Ozark is now always initialized. I'll start some discussion about this on the mailing list.

[2017-08-27 10:58] rsoika commented on #130
ok - and the _OzarkContainerInitializer_ ? Could this class be the hook to store the necessary information into the session?

[2017-08-27 11:26] chkal commented on #130
I don't think that we can get access to the JAX-RS context objects. But a `ContainerRequestFilter` should work. I'm already experimenting with this approach.

[2017-08-27 15:28] chkal commented on #123
Good news everyone. Ozark now basically works with RESTEasy. See more details here:

https://groups.google.com/forum/#!topic/ozark-dev/vA20HbqH_MY

[2017-08-27 15:28] chkal commented on #130
Fixed in 6b1bccd

[2017-08-27 15:28] #130 closed

[2017-08-27 21:05] rsoika commented on #123
That's great news!
I have just tested it with my own example under Wildfly 10. It works fine!
Great work!

[2017-08-31 03:25] Daniel-Dos opened #131 "JaxRsContextFilter throwing NullPointerException with TomEE"
When doing a simple test with apache-tomee-plus-7.0.3 using the Ozark-core module, when running the application it accuses an NPE in the class JaxRsContextFilter.

I tried to make a separate module following the template that was made for RestEasy, added the following dependency in pom.xml:

[code]
but without success, it follows the log of the exception:

[code]

[2017-08-31 06:04] chkal commented on #131
I don't think that we need a module for CXF now. We can add this as soon as we find anything we have to do to get Ozark to work correctly which requires CXF specific API..

Regarding the NPE: It looks like `@Inject` doesn't work on the JAX-RS filter. Not sure why this is happening. The JAX-RS 2.0 spec states:

source classes, providers and Application subclasses. Providers and Application subclass

[2017-08-31 15:57] chkal commented on #131
I think I found the reason why this is happening. See the corresponding upstream issue I just created:

https://issues.apache.org/jira/browse/TOMEE-2122

[2017-08-31 17:17] Daniel-Dos commented on #131
I agree that you will not need a module for CXF and maybe not for the others, otherwise Ozark will be full of modules for the most diverse implementations of JAX-RS, so this may be damaging the compatibility.

Now the NPE is really strange because as the RestEasy module is working well with this JAX-RS filter and the other does not.

[2017-09-04 23:17] jeyvison commented on #84
Tested with:
wildfly-10.1.0.Final
ozark-core-1.0.0-m03

Exception did not occur. Maybe it is something with the bean or the view?

[2017-09-05 06:49] chkal commented on #84
@jeyvison Thanks a lot for testing again Wildfly.

The issue has been filed over 1.5 years ago. And it happend in Glassfish 4.0. So maybe we should close this for now and reopen if we run into it again!?!

[2017-09-05 06:53] Daniel-Dos commented on #84
I agree .

[2017-09-05 06:55] Daniel-Dos commented on #131
HI @chkal

Should we close this one for now?

[2017-09-05 08:29] chkal commented on #131
Hmmm. Not sure. We could try to find out if the issue is caused by TomEE our by CXF. If it is a bug of CXF, we could try to open an issue in their JIRA project.

[2017-09-05 13:15] jeyvison commented on #84
I Agree @chkal .

[2017-09-05 19:50] Daniel-Dos commented on #131
In case you would be thinking of adding something like it was made for Jersey and RestEasy?

[2017-09-06 00:41] jeyvison commented on #126
Hello @chkal . This one seems to be pretty easy so i'll submit a pull request for it if you don't mind. The changing will be for all the projects, not only ozark-core right?

[2017-09-06 01:18] Daniel-Dos commented on #92
Hi @chkal

I think you can close this one for now, too.

[2017-09-06 04:46] chkal commented on #84
Ok. I'll close this for now.

@ivargrimstad Feel free to reopen it if you run into the issue again.

[2017-09-06 04:46] #84 closed

[2017-09-06 04:51] chkal commented on #131
We should only add a `ozark-cxf` module if necessary. But the issue we ran into looks like a TomEE or CXF bug. And if it is a CXF bug, we should file an issue in their bug tracker so they can fix this. Not sure if the TomEE bug tracker is the correct place to report this.

[2017-09-06 04:54] chkal commented on #126
Hey @jeyvison. Thanks for offering help. But I'll take care of the renaming. I'm just waiting for some pending work to be merged, because this renaming will break all the patches. ;-)

[2017-09-06 10:45] jeyvison commented on #126
Ok :)

[2017-09-06 12:08] chkal commented on #127
Done! See latest builds here:

https://travis-ci.org/mvc-spec/ozark

[2017-09-06 12:08] #127 closed

[2017-09-06 12:10] chkal commented on #92
Actually I would love to see this change. But it requires changes to the spec. So closing for now until we find an agreement in the EG.

[2017-09-06 12:10] #92 closed

[2017-09-06 12:13] chkal opened #134 "Check why asciidoc sample app doesn't work on Glassfish 5.0"
I recently remove the asciidoc integration test from the build, because the sample app doesn't deploy to Glassfish 5.0 b25 any more. Back when we were using b09 everything was fine.

See the corresponding commit here: https://github.com/mvc-spec/ozark/commit/4a4b9b06d73e03553079693cf2bf52b289f29f55

It would be great if we could activate this test again. Any help on this is welcome.

[2017-09-06 12:16] chkal opened #135 "Check why Ozark doesn't work as a Glassfish module any more"
Ozark should actually work if installed as a module in Glassfish. Previously we ran our test suite against Glassfish 5.0 b09 and it worked fine. After updating to Glassfish 5.0 b25 it doesn't work any more. Therefore I disabled the corresponding build profile:

https://github.com/mvc-spec/ozark/commit/20abe384ea34253727614c024b7ea50d46214005

It looks like the initialization doesn't work any more.

[2017-09-06 16:46] jeyvison commented on #131
@chkal , I can take a look at this.

[2017-09-06 16:59] chkal commented on #131
That would be awesome! Thanks a lot.

[2017-09-06 18:06] dmaidaniuk commented on #134
Hi @chkal,

I will take a look to this bug and provide my research results/pull-request for it in next few days.

Regards,
Dmytro

[2017-09-06 18:38] Daniel-Dos commented on #92
Ao fazer essa mudança, traria algum impacto para a API ?

[2017-09-06 18:42] Daniel-Dos commented on #131
As no one answered the issue open by you, would be valid also opened the same for the CXF.

[2017-09-07 03:42] chkal commented on #134
Thanks a lot! Looking forward to your analysis.

[2017-09-07 03:44] chkal commented on #92
Yes, for sure. In this case the `ViewEngineContext` would provide access to `HttpServletResponse` any more.

[2017-09-07 03:45] chkal commented on #131
Maybe. But it would be even better if we could make sure that the problem is really with CXF itself and not with TomEE's integration layer.

[2017-09-07 04:54] Daniel-Dos commented on #134
Hi @chkal ,

When doing a test with the same, it seemed N errors, even updating for the last JAR of the asciidoc did not advance.
Browsing the net I found this issue: https://github.com/javaee/glassfish/issues/22224
the log report is similar to the problem that appeared for me testing the latest glassfish build.

[2017-09-07 05:22] dmaidaniuk commented on #134
Hi @Daniel-Dos,

Actually our error has other source:

  Exception during lifecycle processing
org.glassfish.deployment.common.DeploymentException: CDI deployment failure:Error instantiating :org.hibernate.validator.cdi.internal.ValidationExtension
	at org.glassfish.weld.WeldDeployer.event(WeldDeployer.java:239)
	at org.glassfish.kernel.event.EventsImpl.send(EventsImpl.java:131)
	at org.glassfish.

[2017-09-07 06:11] chkal commented on #134
@dmaidaniuk + @Daniel-Dos

Thanks a lot for investigating! I also think that this may be a Glassfish issue. Perhaps we could create a minimal reproducer and create a new GF issue? I'm also very surprised that this only happens with the asciidoc test. This one include jruby. Perhaps this is somehow related?

[2017-09-07 06:35] dmaidaniuk commented on #134
@chkal,

I will prepare minimal reproducer today and report this bug to GF issue-tracker if it will reproduced without Ozark libs.
For sure issue goes from ASCIIDoc dependencies, either ASCIIDoc itself or jruby.

[2017-09-07 15:06] chkal commented on #71
I think we can close this issue now.

[2017-09-07 15:06] #71 closed

[2017-09-07 15:07] chkal commented on #35
Closing this as there seems to be no real interest in it.

[2017-09-07 15:07] #35 closed

[2017-09-07 15:08] chkal commented on #29
Also closing this one. We started to add more logging to the different classes and are using `java.util.logging` for it which seems to work fine.

[2017-09-07 15:08] #29 closed

[2017-09-07 15:10] chkal commented on #129
IMO we don't really need to auto-detect controllers to decide whether to bootstrap or not. However, if someone thinks this is important -> Patches welcome! :-)

[2017-09-07 15:10] chkal commented on #126
Fixed!

[2017-09-07 15:10] #126 closed

[2017-09-07 15:49] #67 closed

[2017-09-07 15:50] chkal commented on #67
Seems to work fine in recent Jersey versions. Fixed with https://github.com/mvc-spec/ozark/commit/543542c862485ccd3a63288f54e6309e4b2d6c16

[2017-09-07 20:04] dmaidaniuk commented on #134
Hi @chkal and @Daniel-Dos,

I just found that `jruby-complete` library really [contains inside classes](https://github.com/asciidoctor/asciidoctorj/issues/158) from JodaTime 2.5. I assume that latest GF 5 modules also used JodaTime library for own purposes. So it seems we have conflicted classes which classloader can't handle.
I tried replace `jruby-complete` with `jrube-core` and exclude JodaTime

[2017-09-07 20:20] Daniel-Dos commented on #134
Hi @dmaidaniuk and @chkal ,

At least we are aware that the problem is not with Ozark. I also tested it with a 1.6.0-alpha version.5. Now the doubt is would be a really problem with the glassfish or with the lib ?

[2017-09-08 06:29] chkal commented on #134
Thank you very much for digging into this. Does this mean that the error always occurs if you deploy an application to Glassfish which contains Joda Time in `/WEB-INF/lib` (shaded or not)? If so, it should be easy to create an simple sample application which reproduces this and to report this to the Glassfish team.

[2017-09-08 06:54] dmaidaniuk commented on #134
@chkal,
My assumption is yes, it always will be an issue when JodaTime will be present in `/WEB-INF/lib` application folder. But I need to verify it first. Even worse, if developer exclude it from his WAR, than still issue with `ClassNotFoundException` will be present because of JodaTime module visibility settings. At least that's what stack-trace above demonstrate.
I will prepare reproducer with

[2017-09-09 14:01] chkal opened #136 "Update Velocity version"
The `ozark-velocity` extension is using a very old version of Velocity. But recently version 2.0 was released:

https://velocity.apache.org/news.html#engine20

We should update our dependencies and check if everything works as good as before.

[2017-09-09 23:44] Daniel-Dos commented on #136
Hi @chkal

I'm looking at this issue now.

[2017-09-10 07:25] dmaidaniuk commented on #134
Hi @chkal and @Daniel-Dos,

Unfortunately it is an issue with latest GF 5 b25 and JodaTime library usage. I just reported an issue javaee/glassfish#22270 with reproducer project. Let's wait for answer from GF developers.

[2017-09-10 09:26] chkal commented on #134
Awesome! Thanks a lot for reproducing and reporting the issue. :beers:

[2017-09-10 10:04] Daniel-Dos commented on #134
Very good, thanks for the info. Now it's waiting. : )

[2017-09-12 17:34] jeyvison commented on #131
Hey folks, just found out what is happening.  The Filter(*JaxRsContextFilter*) is instantiated and all fields should be injected when CXF JAXRSUtils is called to run all the container filters, but only the fields annotated with *@Context* are properly injected. Just opened an [issue](https://issues.apache.org/jira/browse/CXF-7501) to the CXF guys.

[2017-09-12 18:16] chkal commented on #131
Awesome! Thanks a lot! I just added a reference to the TomEE issue I created before.

[2017-09-12 19:32] jeyvison opened #138 "Add Travis information to master branch"
Master branch is broken. The **MvcContextImpl** does not implement
URI uri(String identifier,List<Object> params)  as it's defined by the interface. We should add a build status to the project README informing the health of the build.

PS: I don't know if MvcContextImpl is supposed to implement this method or if it should be removed from the interface. If any of you can tell me, i'll submit a pull

[2017-09-12 20:48] jeyvison commented on #131
Well, now we wait then ^^

[2017-09-12 20:55] jeyvison commented on #81
Is this one still needing some work? No warn is showed but the NPE is not happening anymore.

[2017-09-12 21:28] lefloh commented on #138
Build status is green: https://travis-ci.org/mvc-spec/ozark/builds

Ozark-core depends on a snapshot version of mvc-api and I'm not sure if these snapshots are published to maven central. If you're facing issues during local development please try to update and build the [mvc-spec API](https://github.com/mvc-spec/mvc-spec) first.

+1 for adding the build status to the README.md

[2017-09-12 23:19] jeyvison commented on #138
Hey @lefloh . All i did was clone the repository and try to compile ozark-core. I'll compile the api and try to use it as dependency instead of the maven dependency defined in POM. Maybe we should update the newest version of the dependency to Maven central and update it in Ozark-core.

I'll make a pull-request for adding to build status to Readme

[2017-09-13 04:56] chkal commented on #81
Thanks for testing! If the NPE doesn't occur any more, we can close this one! Thanks!

[2017-09-13 04:56] #81 closed

[2017-09-13 05:02] chkal commented on #138
The spec snapshots are automatically deployed to the Sonatype OSS repository which available here:

https://oss.sonatype.org/content/repositories/snapshots/

Ozark is using the latest snapshots of the spec.

See:
https://github.com/mvc-spec/ozark/blob/28c6725c87e3f9778d0e80db5c0f2032c007339f/pom.xml#L38

And:
https://github.com/mvc-spec/ozark/blob/28c6725c87e3f9778d0e80db5c0f2032c007339f/core/pom.

[2017-09-13 05:03] chkal commented on #138
I'll close this one as #139 has been merged!

[2017-09-13 05:03] #138 closed

[2017-09-15 13:50] jeyvison commented on #104
Hey @chkal , as every request includes the CSRF token, we could use a **ContextHolder**(a ThreadLocal Wrapper) to make it avalible to the programmer if he/she needs it. We can intercept the request in the beginning and populate this ContextHolder with token. What you think?

[2017-09-16 08:48] chkal commented on #104
You can access the token via `MvcContext`. So I don't think there is a need for any ContextHolder or something like that. See: https://static.javadoc.io/javax.mvc/javax.mvc-api/1.0-edr2/javax/mvc/security/Csrf.html

[2017-09-16 11:01] gtudan commented on #129
I agree that if you drop ozark into the classpath than you'll probably want to use it, so this feature seems rather unnecessary. Most application servers have their own ways of figuring out what features to enable and don't rely on the implementations.

I don't see an implementation agnostic way to do this, but RestEasy supports something like this through the MethodRegistry https://docs.jboss.org

[2017-09-16 12:01] jeyvison commented on #104
Huumm. The bean is session scoped and that's the problem right?
Is there a point where we store it in the httpSession or the annotation does the job alone? Maybe we should consider something like jcache to store the token.

[2017-09-16 12:28] chkal commented on #104
The problem is that currently the token is stored in the session, correct. But there are alternative ways to prevent CSRF attacks which don't require server state. One could for example store the token in a client cookie. See: https://www.owasp.org/index.php/Cross-Site_Request_Forgery_(CSRF)_Prevention_Cheat_Sheet

[2017-09-18 20:47] jeyvison commented on #104
That`s right. I think thats how Spring security handles it. We could store in a cookie but for what I`ve seen many folks are storing as a metatag in the page and sending it in every request.

[2017-09-19 11:31] chkal commented on #104
Why are they storing it in a metatag? To access it from JavaScript?

[2017-09-19 13:09] jeyvison commented on #104
That`s right. They do that so they can send it as a header value in their requests.

[2017-09-19 16:08] chkal commented on #131
Hey all! I tried to implement the workaround mentioned in the CXF issue, but unfortunately Ozark stops to work with Jersey in this case. So I guess we have to wait until the issue is fixed in CXF. :disappointed:

[2017-09-20 04:13] chkal commented on #104
Ok, got it. However, that's not really related to how the server stores the token. IMO there are two popular ways to store the token on the server side: In the session or in a client cookie. And Ozark currently only supports the former.

Do you know if Spring Security supports both ways or just one of them? I'm wondering if supporting both ways makes any sense or not.

[2017-09-20 13:12] jeyvison commented on #104
Actually the default implementation of Spring security holds the Csrftoken in httpSession. They provide a way to store it in a cookie too and you can implement CsrfTokenRepository for a custom repository(like redis or others). Maybe we should allow the developer the same flexibility on configure where the token will be stored.

[2017-09-21 07:58] chkal commented on #104
Agreed. I'll prepare the corresponding API and move the current code into one implementation of that API. I'll come back to this ticket as soon as this is done.

[2017-09-21 11:40] jeyvison commented on #104
Great. Let me know if you need some help

[2017-09-22 13:59] dmaidaniuk commented on #129
Hi @chkal,

As I said in one of Google Groups discussion actually exists vendor agnostic way how to detect MVC Controller usage in REST application. I will prepare PR with required changes on this weekend.
And I think it is a good tone to not add unwanted behavior to an application if exists a way to prevent this. We can't rely on a fact that user have some jar in his classpath because it could be

[2017-09-23 09:59] chkal commented on #129
@dmaidaniuk Ok, great! Looking forward to your PR.

[2017-09-24 14:34] dmaidaniuk commented on #129
PR is here: https://github.com/mvc-spec/ozark/pull/140

[2017-09-24 20:26] chkal commented on #129
Awesome! Thanks a lot! I'll have a look at it ASAP.

[2017-09-27 16:25] jeyvison commented on #135
I can take a look at this one

[2017-09-27 19:01] chkal commented on #135
That's awesome! Let me know if you need more details.

[2017-09-27 19:13] chkal commented on #129
Fixed with #140. Thanks a lot!

[2017-09-27 19:13] #129 closed

[2017-09-28 06:33] dmaidaniuk commented on #129
@chkal, You're welcome!

[2017-09-28 14:59] jeyvison commented on #135
@chkal , actually can you specify the steps so i can try to reproduce it here?

[2017-09-28 21:08] chkal commented on #135
I think the best way to understand how to reproduce the problem is to have a look at the travis build script. See:

https://github.com/mvc-spec/ozark/blob/39498ca4d223ca26625e66644c8af1e9ce92b3d9/.travis/tests.sh#L21-L31

Basically Ozark is built and then installed as a module in Glassfish. Then the test apps are deployed without Ozark bundled in `WEB-INF/lib`.

For some reason this fails with mor

[2017-09-29 13:43] jeyvison commented on #135
Just tested with the final version  of glassfish and no error is thrown, but maven complains about the inexistence of the **Integration** profile. Is this profile supposed to exist?

[2017-09-29 14:10] jeyvison commented on #135
Forget about the integration profile, that was my bad ˆˆ. I didn't include all the test wars in the deploy folder but now it`s running all the tests successfully. Maybe we should change the ${GLASSFISH_URL} to download the newest version of glassfish.

[2017-09-29 14:12] chkal commented on #135
In this case you could try to send a pull request to remove the `#` from this to reactivate the integration tests... Let's see if Travis builds are fine in this case:

https://github.com/mvc-spec/ozark/blob/39498ca4d223ca26625e66644c8af1e9ce92b3d9/.travis.yml#L7-L10

You could also update the Glassfish download URL to the 5.0 final release:

https://github.com/mvc-spec/ozark/blob/39498ca4d223ca266

[2017-09-29 16:15] chkal commented on #135
Awesome! Looks like the test run fine against 5.0 final now. I've no idea what caused the failures back then. However, many thanks for taking care of this.

[2017-09-29 16:15] #135 closed

[2017-09-29 20:48] Daniel-Dos commented on #135
Taking advantage of the topic, it would not be necessary to also change the Java EE 7 dependency to 8 in pom.xml.

[code]

[2017-09-30 09:19] chkal commented on #135
I guess this should be discussed on the spec list. But I basically agree. Updating the dependencies to Java EE 8 would make sense.

[2017-09-30 21:28] chkal commented on #135
See: https://github.com/mvc-spec/mvc-spec/pull/103

[2017-10-01 18:38] dmaidaniuk commented on #134
I just checked reproducer with official release build of GlassFish 5 and issue is still there.

[2017-10-01 19:00] chkal commented on #134
Thanks for checking this again. The upstream issue is also still open. I'm hoping that this will be fixed soon.

[2017-10-01 21:05] chkal commented on #104
I just pushed some major changes for the new CSRF token API. The latest changes also include a new cookie-based CSRF strategy. You can activate it by setting a corresponding config property in your application class like this:

[code]

I would be happy to get feedback about the current implementation.

[2017-10-02 21:02] jeyvison commented on #104
@chkal , hey, just made a few comments on PR. I have a doubt about the way we can set this property too. It can be only programatic or it could be via a properties file(fir example) too?

[2017-10-03 07:09] chkal commented on #104
Currently all configuration of the spec and the RI uses the native JAX-RS configuration mechanism. To be honest, back then I also wasn't too happy about having to configure it this way, but on the other hand all the configuration is more or less static and you would never want to alter the configuration between deployments in different environments or something like that.

However, if you see this

[2017-10-03 07:10] chkal commented on #104
Closing this for now as the corresponding feature has been implemented. If there are any further comments, please either start a discussion on `ozark-dev` or create another issue.

[2017-10-03 07:10] #104 closed

[2017-10-09 16:58] chkal commented on #134
Good news. Looks like  the Glassfish issue will be fixed in 6.0.3.Final.

See all the details here: https://github.com/javaee/glassfish/issues/22270#issuecomment-335115598

[2017-10-09 18:43] dmaidaniuk commented on #134
Hi @chkal,

Yes, I also received an update about this important for us bugfix.

[2017-10-28 11:16] dmaidaniuk commented on #134
Hi,

It seems, reported issue is still not fixed. See next PR https://github.com/javaee/glassfish/pull/22315

Regards,
Dmytro

[2017-10-29 19:07] dmaidaniuk commented on #136
Hi @chkal ,

I just made upgrade of velocity core library to version 2.0. And seems it is quite easy to drop dependency to `velocity-tools-view` library which cause dependencies collision in @Daniel-Dos 's PR. I moved required utility class `WebappResourceLoader` directly into extension project.
See my PR for changes: https://github.com/mvc-spec/ozark/pull/142 .

Regards,
Dmytro

[2017-10-30 05:15] chkal commented on #136
Thanks! I just merged the PR. Closing this now!

[2017-10-30 05:15] #136 closed

[2017-11-02 11:38] tompasik opened #143 "multiple Application classes"
Hey guys,

I've started playing around with MVC/Ozark and immediately stumbled upon an issue that may need resolving or at least discussing.

I've decided splitting template based resources (handled by MVC) from regular resources handled by JAX-RS implementation using different `javax.ws.rs.core.Application` classes annotated with `@ApplicationPath` in a way that _/views/*_ urls are handled by the

[2017-11-11 08:40] chkal commented on #143
Hey @tompasik,

thanks a lot for your feedback and sorry for the delayed response.

To be honest, I always thought that multiple Application classes are explicitly allowed by the JAX-RS spec, but I just checked the document and don't find any reference to that fact. That's really interesting. However, I think that people assume that this works with JAX-RS and it is supported by Jersey and other im

[2017-11-13 21:23] jeyvison commented on #131
Hey Folks. Just an update, the amazing CXF guys fixed the issue we opened to them and the fix is already available on two released versions: 3.2.1 and 3.1.14. I think we still need to wait the tomee folks to include these versions as dependency so we can test properly.

[2017-11-14 07:53] chkal commented on #131
Thanks a lot. Perhaps someone could try to build an MVC sample app on top of Tomcat + RESTEasy to verify that everything works fine now? If this is the case, I very confident that it will also work in the next TomEE version which includes the new RESTEasy versions.

[2017-12-05 13:57] CoSoCo opened #146 "Problems with redirection in index.jsp"
Hi,

I was participant at the JVM-Con 2017-11-29 MVC-1.0 workshop.

Thanks to Ivar :-)

Please see my NetBeans example project in the attachment.
[MVC-1.0_Demo.zip](https://github.com/mvc-spec/ozark/files/1531319/MVC-1.0_Demo.zip)

So far it works fine when starting with the Run-button in the NetBeans 8.2 IDE.

 But when I set ...
- In ApplicationConfig.java
    @ApplicationPath("/")
- In index.js

[2017-12-05 16:23] chkal commented on #146
Hey @CoSoCo,

I hope you liked our workshop. :-)

Just to confirm: So you say the app works with an application path of `/app` but doesn't work with an application path of `/`?

If this is the case, it may actually be a Jersey issue. Not sure about all the details, but if I remember correctly, someone wrote back then, that Jersey doesn't work well with an application path of `/`. Not sure if other

[2017-12-05 17:58] CoSoCo commented on #146
Yes exactly. Other arbitrary paths like "/test" also work fine.
The application itself is working, when I manually browse to http://localhost:8080/hello?name=Duke
, but the redirection doesn't work.
If it's an Jersey issue, I assume, the response.sendRedirect(...) API belongs to Jersey.

[2017-12-06 07:41] chkal commented on #146
Ah, I think I know what is happening here.

If you use an application path of `/`, ALL requests will be intercepted and processed by Jersey. Even the request to `http://localhost:8080/` which is actually forwarded to `http://localhost:8080/index.jsp`. Therefore your JSP never is executed and so the redirect doesn't happen.

I just looked up the original issue I was talking about. Here it is: mvc-s

[2017-12-08 05:10] Daniel-Dos commented on #131
temporary guide for the ozark run on tomcat / tomee.

https://github.com/mvc-spec/www.mvc-spec.org/pull/23

[2017-12-09 07:01] chkal commented on #131
Awesome! Thanks a lot @Daniel-Dos.

BTW: Did anyone try to run the latest CXF version on Tomcat to verify that the recent CXF fixes the problems we ran into?

[2017-12-09 21:24] Daniel-Dos commented on #131
Do not get the same headache, but I'll do it now.

[2017-12-18 05:12] Daniel-Dos opened #147 "@RedirectScoped of NullPointerException with module-RestEasy"
Hi guys,

I was trying to use @RedirectScoped with a simple example as seen in the "test" folder of Ozark, but when I get this error in its use:

[code]

[2017-12-18 05:30] Daniel-Dos commented on #131
Hi,
I have tested with SNAPSHOT version doing a build of the TomEE github project.

But he introduced me yet. I just used Ozark-core .

when starting deploy, displays the following error:

[code]
after that and display the browser with the page and when I click to display a "Hello World" and displaying the following error 500:

[code]

[2017-12-18 06:44] chkal commented on #147
Hey @Daniel-Dos.

Thanks for reporting. I wasn't able to reproduce this with the `redirectScope` and `redirectScope2` test apps on Wildfly 11 CR1, but I just commited 3882f4ca4b84bb2d0fb51c1f7e376c500b99c8e8 which should hopefully fix the NPE. Could you give the latest snapshots a try?

Thanks

[2017-12-18 06:55] chkal commented on #131
Hi @Daniel-Dos,

thanks a lot for giving CXF another try. :-)

I just checked the code and it looks like the NPE is happening because `OzarkContainerInitializer` is called too later or not at all. I fixed the NPE in 9cd1f9c6c6375797068cf45bcfe5a7e8acffb5da but Ozark will most likely disable the providers, because the MVC application detection won't work. Perhaps you could try to debug whether or n

[2017-12-18 07:07] chkal commented on #131
One additional note. I just committed d0186cfaefe50773b84164225a0d037f197894f6 which will enable Ozark even if controller detection doesn't work (because `OzarkContainerInitializer` isn't executed early enough). So maybe it just works now. But if `OzarkContainerInitializer` isn't executed at all, other failures may follow.

[2017-12-19 06:58] chkal commented on #147
Awesome. Thanks a lot for confirming the fix.

[2017-12-28 04:07] Daniel-Dos commented on #134
Hello everyone,
I did the test with the latest version of glassfish 5.0.1 and did not give a problem to that one.

http://download.oracle.com/glassfish/5.0.1/nightly/latest-web.zip

[2017-12-28 07:53] dmaidaniuk commented on #134
Hi @Daniel-Dos,

OK, I will uncomment required lines, test build and push changes today.

Thanks,
Dmytro

[2017-12-28 09:55] chkal commented on #134
You can simply enable the module, update the Travis config and create the pull required. Travis will do the testing. ;)

[2017-12-28 10:47] dmaidaniuk commented on #134
@chkal, yes, indeed. :)

[2017-12-28 12:24] dmaidaniuk commented on #134
Issue seems fixed now for GlassFish 5.0.1 latest nightly build. PR passed on Travis.

[2017-12-28 21:19] chkal commented on #134
Thanks a lot! Merged!

[2017-12-28 21:20] chkal commented on #134
I guess we can close this one now. Thanks a lot for your help @Daniel-Dos and @dmaidaniuk!

[2017-12-28 21:20] #134 closed

[2017-12-30 20:19] dmaidaniuk commented on #131
@Daniel-Dos & @chkal,

I just made one more fix for NPE in `OzarkContainerInitializer`. This servlet initializer called successfully in TomEE but somehow `ServletContext` instance can't be injected in given initializer. See commit https://github.com/dmaidaniuk/ozark/commit/da2e63acea82177d9ea43a912d84baac8e60bf4a

However even with fix from [CXF-7501](https://issues.apache.org/jira/browse/CXF-7501

[2017-12-31 09:27] chkal commented on #131
Hmmm. Looks like `JaxRsContextProducer` isn't injected into `JaxRsContextFilter`. But actually CXF-7501 should fix that, no?

[2018-02-11 10:09] chkal opened #151 "Add support for a default file extension for view names"
See the following discussion on the mailing list:

https://groups.google.com/forum/#!topic/jsr371-users/3ky4bw_8A0I

I think we should try to implement a minimal version of this requirement in Ozark without mentioning it ins the spec. This makes it an Ozark specific feature which we may  add to the spec later on.

I could imagine a configuration parameter like this:

[code]
And some code similar t

[2018-02-19 06:19] dmaidaniuk commented on #151
Hi @chkal,

I'm taking this task for implementation. Will provide pull request soon.

Regards,
Dmytro

[2018-02-19 12:08] chkal commented on #151
Thanks a lot, @dmaidaniuk. Looking forward to your pull request.

[2018-02-26 20:01] chkal commented on #83
A few thoughts on this one:

The pull request mvc-spec/mvc-spec#132 will change how view engines write the result of processing the view to the client. So handling of content type and charset is much more explicit.

IMHO the content type and encoding negotiation should be done by JAX-RS. That's how it works for all other JAX-RS responses.

Perhaps we could simply prevent that the JSP directives do

[2018-02-26 20:02] chkal commented on #83
@kogawa88: Did you file this issue back then?

[2018-04-17 06:46] chkal opened #161 "Check if controllers are CDI beans"
The spec states:

Ozark should check that and fail if a controller is NOT a CDI beans. This could happen for example if the application is an implicit CDI archive in `annotated` discovery mode and the controller hasn't been defined with `@RequestScoped` or other scope annotations.

[2018-04-17 18:15] chkal opened #163 "The ${mvc.uri} code doesn't work on Wildfly"
I've recently added some TCK tests for the URI building feature. Unfortunately it looks like the current Ozark implementation doesn't work on Wildfly. See this build:

https://travis-ci.org/mvc-spec/ozark/builds/362956044

But I already found the root cause of this. The `UriTemplateParser` currently uses `Application.getClasses()` for looking up all available controllers. This won't work if the ap

[2018-04-19 18:53] chkal commented on #163
Fixed with 66be3b9e8a74fc0d773a33f87d4cafce23a89125.

[2018-04-19 18:53] #163 closed

[2018-04-22 00:02] kmohanarangam opened #164 "BindingResult immutable List/Set"
According to the spec, BindingResult should return immutable list of all messages, binding errors and validation errors. However, I found that BindingResultImpl.java class returned mutable list and sets. Does this need a fix?

[2018-04-22 06:50] chkal commented on #143
This issue should be fixed with 511a4da4692f64fba7a311a7d7a21a39ff51bb96 in Ozark.

@tompasik It would be great if you could confirm the fix.

I don't think that we need to mention the support for multiple JAX-RS applications in a single web application explicitly in the spec. If anyone thinks this is necessary, feel free to open a corresponding issue in spec issue tracker.

[2018-04-22 06:50] #143 closed

[2018-04-22 06:52] chkal commented on #164
Thanks a lot! I just merged your PR!

[2018-04-22 07:31] #164 closed

[2018-04-22 14:30] rsoika opened #166 "Running Ozark on Wildfly"
To run ozark on wildfly (resteasy) is it now still necessary to add beside the 'javax.mvc-api' dependency another lib for wildfly/ozark?
I know you did a lot of work to get rid of the need to replace rest-easy with jersey. But now I found maybe to much deprecated examples about that. Can you please point me to a example?

[2018-04-22 15:35] chkal commented on #166
Ozark, the MVC RI, works fine on Wildfly. You basically just have to include the MVC API JAR and the Ozark Resteasy module. All the details are described here:

https://www.mvc-spec.org/ozark/docs/install-javaee.html

Let me know if you run into any problem.

[2018-04-22 15:52] rsoika commented on #166
Thanks! That was the missing link - now it works.
This page is hard to find...
Why not putting the links to the Installation Guides on the home page?

[2018-04-22 15:58] #166 closed

[2018-04-23 09:55] chkal commented on #166
The page described how to setup the reference implementation Ozark, so we placed it on the Ozark main page:

https://www.mvc-spec.org/ozark/

However, I agree that the site structure should be improved!

[2018-05-10 14:24] chkal opened #167 "Update fallback behavior for no matching view engine"
We updated the fallback behavior for the case of no view engine feeling responsible for a view name. Please see the details in this commit:

https://github.com/mvc-spec/mvc-spec/commit/6823e63875e2e3f91c7cdde3df1338d4a16bf570

We need to update Ozark to implement this.

[2018-05-17 15:48] chkal commented on #131
Hey all! Good news. I spent some time experimenting with Ozark and TomEE this morning and made some progress. Basic MVC applications seem to work fine now on the latest TomEE 7.0.5-SNAPSHOT. And I guess that the latest stable version also works, but I didn't test it yet.

So feel free to give it another try. :-)

Please refer to [this page](https://www.mvc-spec.org/ozark/docs/install-snapshots.htm

[2018-05-17 17:47] Daniel-Dos commented on #131
it actually stopped giving this exception in both the 7.0.5 snapshot, the stable and the next version with Java EE 8 in the branch https://github.com/apache/tomee/tree/fb_tomee8 .

Even though I make a simple hello world, the same is not loading the page to show the result.

[2018-05-17 18:19] chkal commented on #131
Hmmm. Are you using the latest snapshots? Could you include the exact stacktrace including line numbers?

[2018-05-17 19:05] Daniel-Dos commented on #131
Hi, I'm using the last snapshot .

follows the Tomcat-7.0.5-SNAPSHOT log:

[code]

and a link for project of test - >

 https://github.com/Daniel-Dos/TomCat-TomEE-MVC/tree/master/tomee-new

[2018-05-17 19:35] chkal commented on #131
The version looks fine. The warning in the last row is expected too and no real problem. Are you getting an exception or does it simply not work? The log doesn't include an exception.

[2018-05-17 19:39] Daniel-Dos commented on #131
I do not get any exceptions, just get on it and the screen with the link to call the view of the result.

[2018-05-17 20:43] chkal commented on #131
Thanks. I will have a look at your sample app tomorrow.

[2018-05-17 20:47] Daniel-Dos commented on #131
thanks .

[2018-05-18 04:13] chkal commented on #131
@Daniel-Dos I just had a quick look at your app. I guess I found the problem:

It looks like controllers with a `void` return type don't work. Even if they are annotated with `@View`. CXF is always returning 204 "No Content" status code in this case. So if you return the view name from the controller as a string, it works fine.

Feel free to create an issue to track this incompatibility. Although

[2018-05-18 04:40] chkal commented on #131
Good news. No need to file an issue. `void` is now working correctly. See d5d17b6 for details.

[2018-05-18 13:14] Daniel-Dos commented on #131
@chkal ,

incredible .

I tested it here with versions 7.0.4, 7.0.5 and with Java EE 8 everything is ok.

I'll close this issue.

thank you so much .

[2018-05-18 13:14] #131 closed

[2018-05-18 15:03] chkal commented on #131
Awesome! Thanks for confirming!

I also added a new profile to our CI build which executes the TCK against TomEE. The build is currently failing because 4 of ~44 tests are failing. But that's a good start I think. ;-)

[2018-05-18 15:56] Daniel-Dos commented on #131
It's certainly a good start.

[2018-05-18 18:10] chkal opened #168 "InjectParamsTest TCK test failure with CXF"
The TCK verifies that parameters can be injected into resource fields and properties as required by the JAX-RS spec.

Unfortunately one of the tests fails with CXF.

[code]

This test basically verifies, that a resource field can be annotated with `@QueryParam` and that the value of a corresponding parameter is injected into this field.

https://github.com/mvc-spec/mvc-tck/blob/c050db27be170ff8fc7

[2018-05-18 18:16] chkal opened #169 "ControllerAnnotationTest TCK test failure with CXF"
The TCK verifies that hybrid controllers are handled correctly. Hybrid controllers are JAX-RS resources for which some resource methods are MVC controllers and others not. The MVC processing should only apply to controller methods, but not to standard resource methods without a controller annotation.

https://github.com/mvc-spec/mvc-tck/blob/c050db27be170ff8fc7f0f41ab61e45c6b69fcc7/tests/src/main/

[2018-05-20 13:29] mscharhag opened #170 "Problems with @MvcBinding validation"
Hello, I have trouble to get validation with `@MvcBinding` working.

I am using the `FormDataBean` class shown in the specification (section 3.2).

My controller and application classes look like this:

[code]

[code]

Whenever I submit the form I get the following exceptions:
[code]

I'am using Glassfish 5.181.0 with these dependencies:
[code]

If I switch to the latest snapshot dependencies for

[2018-05-20 15:00] mscharhag commented on #170
Thanks, this helped me!
I don't know what exactly was wrong but it looks like `mvn clean` and reimporting the project into IntelliJ solved the problem.

[2018-05-20 15:32] chkal commented on #170
Awesome!

Yeah, updating dependencies sometimes leaves old dependencies in the build directories, so you end up with weird class loading issues. But cleaning typically fixes this problem.

Glad to hear you got it working now!

[2018-05-20 15:32] #170 closed

[2018-05-20 15:34] chkal commented on #170
I forgot to mention one thing. If you are using the latest snapshots, you shouldn't need `@ValidateOnExecution` and `BV_DISABLE_VALIDATE_ON_EXECUTABLE_OVERRIDE_CHECK`. This will simplify the setup. :-)

[2018-05-30 20:39] mscharhag commented on #161
Do you have an idea on how to get the CDI discovery mode at runtime? I don't think CDI provides an easy way to get this information.

[2018-05-31 09:30] chkal commented on #161
Not sure if this is possible at all using the standard CDI API.

However, I don't think that this is necessary to fix this issue. Basically we could just check whether the controller is a CDI bean in a `ContainerRequestFilter` which has access to the resource class. We could even use `ViewRequestFilter` for this. In this case we could simply ask the `BeanManager` for the corresponding class, which

[2018-06-01 20:55] mscharhag commented on #161
Yes, you are right. Checking the BeanManager should be enough.

I am trying to look into this. However, I'm a bit confused.

I created a sample application with `annotated` discovery mode and a controller class without any scope annotation. If I run this application with glassfish/jersey an exception is thrown before `ViewRequestFilter` is processed. So checking it there would be too late.

[code]

[2018-06-02 11:16] chkal commented on #161
Awesome! Thanks a lot for sharing these details.

To be honest, I don't remember anymore which exception I got when running into this issue while working on the TCK. But it may have been the exception you included above.

One question: In the Wildfly case, did injecting `Models` work as expected? If yes, there isn't any problem with Wildfly at all. It is possible, that RESTEasy converts all JAX-RS

[2018-06-06 18:44] mscharhag commented on #161
Thanks for your feedback

I am pretty sure it worked. I will validate this again. By using the debugger I also saw a `@RequestScope` annotation on the controller `Bean` instance returned by the `BeanManager`. This annotation wasn't provided by me. I think it is added via [ResteasyCdiExtension](https://github.com/resteasy/Resteasy/blob/master/resteasy-cdi/src/main/java/org/jboss/resteasy/cdi/Restea

[2018-06-07 09:54] chkal commented on #161
Great! Thanks a lot! Looking forward to your reply. Enjoy your vacation.

[2018-06-11 12:37] querynaut commented on #104
@chkal @jeyvison I stumbled on this by chance (google). It's not enough to store the csrf-token somewhere on the client site (e.g. cookie, meta-tag or form field). You will still have to hold a copy somewhere on the Server (Session/database) to check if it's valid for the user.

[2018-06-11 14:39] chkal commented on #104
Well, there are ways to prevent CSRF attacks even without server-side state, see for example:

https://www.owasp.org/index.php/Cross-Site_Request_Forgery_(CSRF)_Prevention_Cheat_Sheet#Double_Submit_Cookie

[2018-06-11 14:49] querynaut commented on #104
@chkal Yes, but that requires that you control _all_ subdomains as cookie values can easily be written from them. I have to admit that I don't know your product and it may be enough for you, I just found this accidentally and glanced over it quickly ;-) If that's the case, I'll keep my mouth shut now ;-)
Greetings!

[2018-06-11 15:30] chkal commented on #104
@querynaut Sure. Thanks for pointing that out. Of course everyone has to balance pros and cons of each strategy before using it. I think the Double Submit Cookie is especially interesting for many people who want to prevent server-side state.

[2018-06-20 16:12] rsoika opened #177 "Log a WARNING in case a MVC controller is annotated with @Named"
As we have already discussed [here](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/jsr371-users/-yH5KnsK88U/Vpvl3Gy0AwAJ) it does not make sense to annotate a MVC Controller class with `@Named` and a scope.

The following conroller code works fine in Wildfly/RestEasy:

[code]

The property 'id' can be used in the view

[code]

But the same code will not work for Glassfish

[2018-06-20 20:08] chkal commented on #177
Just to quickly share my thoughts on this.

I would be fine with emitting warnings if controllers are annotated with `@Named`. This typically doesn't make any sense because controllers should not be directly accessed from the view.

But I'm not sure if we should really warn if a controller is annotated with a scope annotation. The JAX-RS spec explicitly allows alternative lifecycles for resource c

[2018-06-20 20:09] chkal commented on #177
Please also see #161 which is also about checking controllers and their annotations...

[2018-06-20 20:10] chkal commented on #161
I just want to point everyone to #177 which *could* also be fixed as part of this issue!?!?

[2018-06-21 06:16] ivargrimstad opened #179 "Check Extension Licenses"
Go through the contributed extensions and verify that they have a license that is compatible with ASLv2.

[2018-06-21 07:05] chkal commented on #179
You are referring to the dependency on the 3rd party template engines, correct? So actually we have to check the license of all template engines for which MVC view engines exist, correct?

[2018-06-21 07:18] ivargrimstad commented on #179
Yes, if we package them together in the Ozark deliverable. This is definitely something that will be checked by the IP-team if/when we transfer to Eclipse.

A solution for potential non-compliant view engines is to extract them to a separate extensions project with appropriate licensing

[2018-06-21 07:31] chkal commented on #179
What about `provided` scoped dependencies? During one of my pull request reviews I asked myself, whether having `provided` instead of `compile` scoped dependencies for the template engines would make more sense. Users would have to add the dependency explicitly, but they would also have more control over the exact version and updating would be easier.

So would that have any impact on the license

[2018-06-21 07:41] ivargrimstad commented on #179
I have to check up whether that makes a difference. Anyway, I think that if we provide the view engine, we should also provide the implementation with a specific version that we have tested it with. Letting the users do this themselves just adds complexity and lead to errors.

[2018-06-21 08:42] rsoika commented on #177
I'm still struggling a little bit with understanding the controller concept. I repeated some tests in payara (with the ozark-jersey library 1.0.0-m3.

You say:

I can confirm this for payara. If you try to use a controller in a view (facelet page) then this controller is renewed by some part of the framework during the render phase. So even if I annotate the controller with a scope (request or ses

[2018-06-21 10:47] chkal commented on #179
Ok! I'm not strong on the idea of using `provided` scope. It just came to my mind as an alternative. I'm fine with leaving it as it is. But maybe it could be a valid workaround if any template engine has a problematic license.

[2018-06-21 11:05] chkal commented on #177
Well, I agree that the behavior of Payara is weird. It looks like Jersey uses a very "special" way for the CDI integration. IMO this behavior is not correct at all.

However, the problems just occur because you are trying to access the controller from the view. And doing so requires you to use `@Named`. And because accessing the controller from the view is against the MVC pattern and because I don

[2018-06-26 09:30] ivargrimstad commented on #179
Extensions:

- [ ] - asciidoc - Apache-2.0
- [ ] - freemarker - Apache-2.0
- [ ] - handlebars - Apache-2.0
- [ ] - jade - MIT
- [ ] - jetbrick - Apache-2.0, BSD (antlr 4)
- [ ] - jsr223 - BCL
- [ ] - mustache - Apache-2.0
- [ ] - pebble - proprietary license?
- [ ] - stringtemplate - BSD (antlr 4)
- [ ] - thymeleaf - Apache-2.0
- [ ] - velocity - Apache-2.0

[2018-06-26 14:16] Daniel-Dos commented on #179
Hi @ivargrimstad ,

In site - >[pebble/license]( http://www.mitchellbosecke.com/pebble/license) , really seems to be a proprietary license  .

[2018-06-26 15:13] chkal commented on #179
@ivargrimstad So Jetbrick may be problematic because of the transitive antlr dependency?

[2018-06-27 22:17] mscharhag commented on #161
I checked Wildfly again. The injected Models instance worked as expected.

Using the BeanManager.getBeans(..) confirms this behaviour:
- When using Wildfly I get a controller bean from the BeanManager
- When using Glassfish I get an empty collection from the BeanManager

However, it looks like the AfterBeanDiscovery event is triggered before OzarkContainerInitializer is called. So maybe we should

[2018-06-28 04:44] chkal commented on #161
Hmmm. Good question. I'm not sure if we can assume that CDI initializes before `OzarkContainerInitializer`  gets called in all containers. To be honest, my guess is that it is the other way around if you deploy the CDI implementation as part of the WAR to a container like Tomcat. But I'm not sure about that.

Maybe we could use a `ServletContextListener` instead? AFAIK this one gets notified after

[2018-06-28 22:08] mscharhag commented on #161
I tested the `ServletContextListener` variant and it seems to work fine. I'll try to implement this and create a pull request, so you can have a look.

Just a few more questions:

Do you have a preferred name for the exception that should be thrown? `ControllerNotManagedByCdiException`, `ControllerMissingScopeAnnotationException`, ... ?

Can you give me some hints regarding tests?
Writing a unit t

[2018-06-29 04:46] chkal commented on #161
Awesome! :+1:

I would be fine with simply throwing an `java.lang.IllegalStateException` with an appropriate text. I don't think that we need any special exception type for that. Especially because this exception happens during bootstrap and cannot really be handled in any way by the developer.

I don't think that this happens in real world applications. But technically it is possible. One could c

[2018-07-08 05:28] chkal commented on #177
Fixed via #182

[2018-07-08 05:28] #177 closed

[2018-07-09 21:35] Daniel-Dos commented on #169
@chkal,

what version of TomEE that used ?

I did a quick test with the latest version of TomEE 7.0.5 (https://github.com/apache/tomee/releases) and got no exception for the two issues #168 and #169 .

[2018-07-10 05:09] chkal commented on #169
Let's move the discussion to #169

[2018-07-10 05:15] chkal commented on #169
The TCK is run against 7.0.4:

https://github.com/mvc-spec/ozark/blob/6b579c2f331a2f9d23096e4823902d6ae957c44a/tck/pom.xml#L196

But actually this is not about an exception. It is just a test failure.

The test `ControllerAnnotationTest.controllerHybrid` is failing:

https://github.com/mvc-spec/mvc-tck/blob/0176dbfeff3fb5de04636055aa381dad02db99a4/tests/src/main/java/org/mvcspec/tck/tests/mvc/cont

[2018-07-10 19:57] Daniel-Dos commented on #169
Hi @chkal,

I did the test again with tomee 7.0.4 and 7.0.5 as shown below:

Tomee 7.0.4 :

here is what exactly you mentioned, even without the annotation of @Controller, it does as faith as one.

![tomee704](https://user-images.githubusercontent.com/8139890/42534026-f69d4cea-8461-11e8-9690-ae73df091de6.png)

Tomee 7.0.5 :

Now with version 7.0.5 this does not happen, the output is the same as wh

[2018-07-10 21:08] Daniel-Dos commented on #168
Hi @chkal ,

I did the test without Ozark, following the same TCK model, and it executes and displays the output when @QueryParam is used in an attribute.

with Ozark this value is Null .

[2018-07-11 05:35] chkal commented on #169
Awesome! So it look like the latest snapshots of 7.0.5 don't have this problem any more! That's great news!

Could you check which which CXF version 7.0.4 and 7.0.5-SNAPSHOT are using? Just locate one of the CXF dependency JARs, unpack it and check the contents of the `META-INF/maven` folder. This should reveal the exact version used. This would be interesting to know. Especially because Liberty h

[2018-07-11 05:40] chkal commented on #168
That's weird. I don't know why Ozark could cause this. Maybe because Ozark ships with a custom `ParameterConverterProvider`?

Could you perhaps debug if this method is executed and how it behaves?

https://github.com/mvc-spec/ozark/blob/master/core/src/main/java/org/mvcspec/ozark/binding/convert/MvcConverterProvider.java#L54

Perhaps you could even debug how the CXF code calling `MvcConverterProvi

[2018-07-11 13:47] Daniel-Dos commented on #169
I lwill look this .

[2018-07-11 13:50] Daniel-Dos commented on #168
I will look too .

[2018-07-11 17:43] Daniel-Dos commented on #169
I found the TomEE SNAPSHOTS repository,

https://repository.apache.org/content/groups/snapshots/org/apache/tomee/server/

Do you find it interesting to upgrade to 8.0.0 instead of 7.0.6?

[2018-07-11 18:00] chkal commented on #169
I think we should stick with 7.0.x for now. This is the stable branch and that's what we care about.

BTW: It looks like 7.0.5 will be released really soon. So maybe we should wait a bit with updating the version? This way we won't need to add the snapshot repo

[2018-07-11 18:16] Daniel-Dos commented on #169
the version 7.0.5 by the repository of git is already released, it is not available for download.

https://github.com/apache/tomee/releases

[2018-07-11 21:08] Daniel-Dos commented on #169
Hi @chkal ,

I unzipped one of the CXF Jar's that in the case was cxf-rt-frontend-jaxrs :

TOmEE-7.0.4

[TOMEE-7.0.4 - cxf-rt-frontend-jaxrs](https://gist.github.com/Daniel-Dos/15b08424d0561aa3aa298fe60e5e0cad)

TomEE.7.0.5

[TOMEE-7.0.5 - cxf-rt-frontend-jaxrs](https://gist.github.com/Daniel-Dos/6a8be36104cee2ec7197f8b5f2a5561c)

[2018-07-12 04:30] chkal commented on #169
I just found the corresponding upstream issue:

https://issues.apache.org/jira/browse/CXF-7630

So it looks like this issue is fixed in CXF 3.2.2 and 3.1.15.

Unfortunately the latest Liberty version is using CXF 3.2.1, so this issue will still occur there. However, it isn't really a blocker. Hybrid controllers are an exceptional case.

[2018-07-13 03:11] Daniel-Dos opened #186 "OzarkServletContextListener failed with TomCat"
making a test with TomCat with the new version of Ozark, when executing a simple Hello World, at the startup is presented the following log:

[code]

in my tests I was able to solve it by adding a default constructor and instead of using the @Inject in the constructor I added the same to the BeanManager attribute, so Tomcat can work.

[2018-07-14 05:36] #64 closed

[2018-08-02 01:54] Daniel-Dos commented on #169
Hi @chkal,

I think you can close this problem.

thanks .

[2018-08-04 06:57] chkal commented on #169
Yes, your are correct. Sorry, I missed to close this one.

[2018-08-04 06:57] #169 closed

[2018-08-05 19:14] AritonV10 opened #189 "More than one JAX-RS ApplicationPath detected (Jersey)"
I've read that's been fixed, but I still happen to get it. I'm running Payara 5. Sometimes it compiles, sometimes It doesn't

[code]

[2018-08-05 19:25] Daniel-Dos commented on #189
Hi @AritonV10 ,

in your log, you using the old version of Ozark :

`2018-08-05T21:10:30.834+0300|Info: Ozark version 1.0.0-m03 started`

upgrade to the  Ozark 1.0.0-m04 for fixed the error.

[2018-08-06 04:57] Daniel-Dos commented on #168
Hello,

Hi @chkal ,

I made the debug, but I could not identify the default CXF, after it passes the MVCConverterProvider.getConverter () it comes null and then the same goes to the following method of the CXF class:

**`Class ProviderFactory`**

[code]

here in the case the `ParamConverter <T> convert = pi.getProvider (). getConverter (paramType, genericType, anns);` is null and the following is

[2018-08-06 05:10] Daniel-Dos commented on #151
Hello,

I have tried to do this issue as mentioned above, I do not know if it is really this, I am committing to my changes and would like some help on this:

1 - I created a new attribute in the Properties class :

https://github.com/Daniel-Dos/Ozark-integrationTests/blob/master/core/src/main/java/org/mvcspec/ozark/Properties.java#L38

2 - I created a method to return a jsp as default if there wa

[2018-08-07 06:40] chkal commented on #151
Thanks @Daniel-Dos. I'll have a deeper look at the code as soon as possible and provide some feedback.

[2018-08-07 06:41] chkal commented on #168
Thanks for sharing this analysis. Do you have the sample app available you used for this?

[2018-08-07 09:55] dmaidaniuk commented on #151
Thank you @Daniel-Dos!
Could you make pull request with your all changes so it will be suitable to review them in one place, please? Did you also extend tests for this new functionality?

Regards,
Dmytro

[2018-08-07 10:34] chkal commented on #151
@Daniel-Dos You could also simply create a pull request and add "[WIP]" in front of the description. This will simplify reviewing and adding comments to the code. What do you think?

[2018-08-07 14:42] Daniel-Dos commented on #151
Hello,

@chkal ,  I'll open a PR for this.

@dmaidaniuk,  in the case of the test, would it be one in the Ozark "test" folder?

thanks .

[2018-08-07 15:09] Daniel-Dos commented on #168
Hi @chkal ,

can I do, in case you one with Ozark and another without? step a zip here or a link to some repository.

[2018-08-07 16:18] chkal commented on #168
Awesome! A link to a repository would be awesome!

[2018-08-08 14:42] dmaidaniuk commented on #151
@Daniel-Dos, yes. We need to write a new test in a location `https://github.com/mvc-spec/ozark/tree/master/test/returns` I think. Maybe @chkal could advice more proper place if this one is not 100% correct.

Regards,
Dmytro

[2018-08-08 15:09] Daniel-Dos commented on #151
Hi @dmaidaniuk ,

cool, I can create a "return2" without the "JSP" extensions.

the way it is posted in the link above (item 3), it does not work for @View and neither for ViewAble, this is because I put a wrong location.

as soon as possible I will send a PR so I can get some help on that.

[2018-08-09 15:27] chkal commented on #151
+1 for creating a new `returns2` sample app. This is a separate feature, so a separate test app makes sense.

@Daniel-Dos Maybe we should extract the code that appends the default extension to some `protected static` helper method so we can create unit tests for it. There are quite some edge cases and manipulating the view name by conditionally appending a default extension should be pretty easy t

[2018-08-09 16:30] Daniel-Dos commented on #151
Hi @chkal,

in case, would be :

[code]
and would you call inside some Core unit test?

the weekend, I taking a PR as shown in the link in item 3.

thank you .

[2018-08-10 16:09] chkal commented on #151
You could also pass the default extension from `OzarkConfig` into them method. This way it will be easier to unit test. And yes, in this case it could be an unit test in `ozark-core`.

[2018-08-10 16:40] Daniel-Dos commented on #151
in case that's what you meant? :

`if (!viewName.endsWith("." + kConfig.getDefaultViewFileExtension()) &&  ...`

and this protected method would still be in the class `ViewResponseFilter.java`

[2018-08-11 07:01] chkal commented on #151
I was thinking about something like:

[code]

However, feel free to implement it like you want. I just think that we need some test coverage, because the implementation is not trivial as there are some view names which needs to be ignored (like `redirect:*`).

[2018-08-14 01:32] Daniel-Dos commented on #168
Hi @chkal ,

follows the examples with InjectParam with and without Ozark, I did the tests with TomEE 7.0.5.

https://github.com/Daniel-Dos/InjectParamsTest-Ozark-CXF

[2018-08-14 05:51] chkal commented on #168
Thanks @Daniel-Dos. I'll have a look, but it may take some time, as I'm on vacation for the next two weeks.

[2018-08-26 09:07] chkal opened #196 "Allow `@MvcBinding` on classes"
As mentioned in mvc-spec/mvc-spec#161, it would be really nice to allow `@MvcBinding` on classes to simplify the creation of form classes used with `@BeanParam`. JAX-RS doesn't provide the required information. Maybe we can use some other trick to identify the `AnnotatedElement` for which the `ParamConverterProvider` is invoked so we can also check the class for annotations?

[2018-08-26 09:12] chkal commented on #189
It looks like we can close this issue now. Feel free to reopen if this error still occurs with the latest snapshots.

[2018-08-26 09:12] #189 closed

[2018-09-03 09:51] mthmulders opened #200 "Can't run Ozark on Open Liberty 18.0.0.2"
After having read the [spec](https://oss.sonatype.org/service/local/repositories/snapshots/content/javax/mvc/javax.mvc-api/1.0-SNAPSHOT/javax.mvc-api-1.0-20180902.064053-77-spec.pdf), I wanted to try MVC using Ozark on Open Liberty 18.0.0.2.

I wrote a very simple [Hello World-style app](https://github.com/mthmulders/openliberty-mvc), but I can't get it to work. When I access it, the following app

[2018-09-03 10:13] chkal commented on #200
I guess you tried version `1.0.0-m03` of Ozark? Unfortunately this version doesn't work on Liberty. But you could give the latest snapshots a try. There have been some fixes since the last release and the latest snapshots should work fine.

Have a look here:

https://www.mvc-spec.org/ozark/docs/install-snapshots.html

[2018-09-03 11:03] mthmulders commented on #200
Indeed, I have tried using 1.0.0-m03. Upgrading to latest snapshots brings me further, but I still can't get everything to work.

Instead of the previously enable `jaxrs-2.0` feature in OpenLiberty, I've enabled `beanValidation-2.0` (for validation), `cdi-2.0` (for CDI), `jaxrs-2.1` and `jsp-2.3` (for JSP compilation) and restarted OpenLiberty.

Now I'm seeing the following:

    Caused by: java.l

[2018-09-03 12:45] chkal commented on #200
IMHO returning `null` from `getMappings()` is actually not allowed. The javadocs explicitly mention that the collection can be empty, so returning `null` is really weird.

However, I just created #201 to implement a workaround. Let's see if the CI build is still green.

[2018-09-03 13:39] chkal commented on #200
I just merged #201. So you could update the snapshots and try again.

[2018-09-03 17:33] mthmulders commented on #200
Awesome, that has fixed it!

[2018-09-04 07:04] chkal commented on #200
Thanks for letting us know! :+1:

However, please note that there are still some other known issues with Ozark on Liberty, as the TCK currently doesn't pass. This is most likely caused by incompatibilities with CXF. So feel free to report any issue you run into.

[2018-09-04 07:04] #200 closed

[2018-09-06 19:07] mthmulders opened #202 "Can't get CSRF protection to work"
Setup:
- OpenLiberty 18.0.0.2
- Java EE 8

I'm trying to get CSRF protection to work on my controller. It looks like this:

        @CsrfProtected
        @POST
        @Path("/configure")
        @View("redirect:/hello")
        public void configure(@FormParam("locale") final String locale) {
            // left out
        }

If I read the spec correctly, the default for `javax.mvc.security.Csr

[2018-09-07 03:51] chkal commented on #202
Yes, you are correct. The method should actually be processed by `CsrfValidateInterceptor` and the controller should not be invoked if the CSRF token is missing. That's really weird.

`CsrfValidateInterceptor` is registered via a name binding, which means that it should actually be invoked for all requests to controller methods (annotated with `@Controller`).

Could you please check if the interce

[2018-09-07 05:32] chkal commented on #168
I experimented a bit with this issue. It is really weird. Using `@QueryParam' on a resource field doesn't work, but it is working fine if I place the annotation on the corresponding getter instead.

Also the issue is occurring even if I don't register `MvcConverterProvider` at all. So it looks like it has nothing to do with Ozark directly. At least this is my guess.

I just created [CXF-7834](http

[2018-09-07 08:11] mthmulders commented on #202
I can confirm that DefaultConfigProvider.java#L45 is being hit. Also, inside `register(FeatureContext, Class)`, `isCxf` equals true, and `providerInstances` is an ArrayList with one element in it, an instance of `CsrfValidateInterceptor`. This object is then registered with the feature context.

[2018-09-08 05:43] Daniel-Dos commented on #168
wonderful.

It really is pretty weird.

even with the response of the CXF team, could not reproduce what happened.

Now it is investigating if it is some component that Ozark uses that is generating this problem

thank you.

[2018-09-08 05:58] chkal commented on #168
I'm not really sure what is causing this. I'm planning to setup some minimal sample environment (Tomcat + CXF + Weld) to see if I can reproduce it there. I don't think that Ozark is causing this. I removed our ParamConverterProvider and the issue still occurred. This is really weird.

[2018-09-08 06:08] chkal commented on #202
Thanks for confirming. Looks like we need to do some more debugging to solve this. Unfortunately there are a few weird issues with CXF like #168 for example.

I'll try to setup some test environment with plain Tomcat + CXF + Ozark to see if I can find the root cause for this.

Of course any kind of help is welcome!

[2018-09-08 06:12] chkal commented on #179
Just a quick note on this. If we find incompatible license in our dependencies because of 3rd party view engines, we should most likely drop them before moving to EE4J. We can still keep them alive in a separate GitHub project if we want.

[2018-09-08 06:14] chkal commented on #146
Any news on this one? If my assumption about the cause is true, this is more a JAX-RS implementation issue. Therefore, I would like to close this one.

[2018-09-08 06:15] chkal commented on #101
This was fixed by providing specific JAX-RS implementation dependent modules.

[2018-09-08 06:15] #101 closed

[2018-09-08 06:16] chkal commented on #96
The corresponding code has been removed in the mean time.

[2018-09-08 06:16] #96 closed

[2018-09-08 06:17] chkal commented on #74
IMO this issue should be addressed on the JAX-RS side.

[2018-09-08 06:17] #74 closed

[2018-09-08 06:17] #75 closed, assigned to nobody

[2018-09-08 06:32] ivargrimstad commented on #179
Let's wait and see. The CQ team at EF will do a pretty thorough job going through it when we transfer the code and they're much better at doing that than we are I guess...
Then we can omit whatever doesn't meet their requirements.

[2018-09-08 07:05] mthmulders commented on #202
Yesterday I've tried to debug OpenLiberty itself - to no avail. I was just about to resort to plan B, which is exactly what you've proposed. I'm far from an expert in CXF, but I'll see what I can find...

[2018-09-08 07:59] chkal commented on #202
Ok, great! Any kind of help is welcome.

My current guess is that the name binding `@Controller` on the `CsrfValidateInterceptor` doesn't work as expected for some reason. Maybe because CDI is involved. But that's just a wild guess. Anyway, it is worth a try to just remove `@Controller` from `CsrfValidateInterceptor` which should execute the interceptor for all JAX-RS requests, not just for MVC on

[2018-09-08 08:01] chkal commented on #179
Ok, sounds great!

[2018-09-09 17:33] Daniel-Dos commented on #168
I get it, it's really weird.

[2018-09-10 08:35] mthmulders commented on #202
Just to make sure... does it work in other JAX-RS implementations? I've found [RESTfu­­l Jav­a­ wit­h ­JAX­-­­RS 2.­0­ (Second Edition)](https://dennis-xlc.gitbooks.io/restful-java-with-jax-rs-2-0-2rd-edition/en/part1/chapter12/reader_and_writer_interceptors.html), that says:

If that was true, I'd expect that other JAX-RS implementations also suffer from this. In this particular case, the control

[2018-09-10 13:09] chkal commented on #202
It is definitely working on Glassfish and AFAIK also on Wildfly. My interpretation of this spec requirement is that the reader is needed because you are actually using `@FormParam` in your code to access form parameters which got submitted in the body. No?

[2018-09-10 13:42] mthmulders commented on #202
Well, of course I hoped that it would work in other JAX-RS implementations :-). The document I referred to isn't a specification, so I don't know it's status. I interpreted it as "when a message body is read to a POJO" - like when a JSON structure is sent and the controller method has a method argument of a corresponding Java structure.

I'll try a bit more debugging when/how these interceptors ar

[2018-09-10 15:23] chkal commented on #202
Thanks for the clarification. Well, actually it may be possible that different JAX-RS implementations handle `ReaderInterceptor` invocation differently.

The exact wording in the JAX-RS spec is:

method readFrom . An entity interceptor implementing WriterInterceptor wraps around calls to
MessageBodyWriter ’s method writeTo . JAX-RS implementations are REQUIRED to call registered
interceptors when

[2018-09-10 21:14] mthmulders commented on #202
Bingo! Adding an `javax.ws.rs.core.Form` parameter to the controller method fires the `CsrfValidateInterceptor`.

By the way, paragraph 3.3.2.1 of the JAX-RS 2.1 spec suggests that a `ReaderInterceptor` should be executed for `@FormParam` method arguments:

I did a quick search in the CXF issue tracker, but [can't find anything related to this issue](https://issues.apache.org/jira/browse/CXF-3274?

[2018-09-11 05:27] chkal commented on #202
Ok, thanks a lot! That's interesting!

I just asked for clarification about this on the [jaxrs-dev](https://accounts.eclipse.org/mailing-list/jaxrs-dev) list. But I agree that CXF is most likely doing it wrong. However, as always, such statements in the spec are up to interpretation. :grin:

[2018-09-17 15:15] dmaidaniuk commented on #151
Hi @chkal & @Daniel-Dos ,

I just pushed my changes for this ticket. You can look on them in next PR:
https://github.com/mvc-spec/ozark/pull/204

It is still work-in-progress changes. I will cover new logic with unit tests. For now, only smoke integration test available in new test module "def-ext". Feel free to give your feedback and suggestions for my changes.

Regards,
Dmytro

[2018-09-17 22:39] Daniel-Dos commented on #151
Hi @dmaidaniuk ,

thanks very much to submit an PR .

[2018-09-18 13:01] chkal commented on #151
Hi  @dmaidaniuk! Thanks a lot!

We are currently in the process of releasing the "Proposed Final Draft" version of the spec and a new version of Ozark. But as we are in the middle of that process, we will most likely integrate your changes after the release. So it may take some days for me to review it.

[2018-09-21 13:28] dmaidaniuk commented on #168
Hi @chkal  & @Daniel-Dos ,

I made a bit more debugging of reproducer applications from Daniel and found a reason for this bug. I used TomEE 7.1.0 plus for this investigation. It contains CXF v.3.1.15 library.
In case of pure CXF application for next call trace
[code]
we have in method [InjectionUtils#injectFieldValue(...)](https://github.com/apache/cxf/blob/master/rt/frontend/jaxrs/src/main/java/

[2018-09-21 13:59] dmaidaniuk commented on #168
It is funny that CXF actually has a mechanism to detect proxies in class [ClassResourceInfo](https://github.com/apache/cxf/blob/master/rt/frontend/jaxrs/src/main/java/org/apache/cxf/jaxrs/model/ClassResourceInfo.java#L339-L351):

[code]

However, check `ClassHelper.getRealObject(resourceObject)` doesn't work as `OwbInterceptorProxy`  doesn't register itself as `java.lang.reflect.Proxy`. :)
So, it

[2018-09-21 14:26] gtudan opened #206 "Ozark 1.0.0-m4 does not work on wildfly"
It looks like the current master somehow broke on wildfly. I tried with some of the example apps and they all show the default jax-rs behavios (rendering 204 for controllers with view-annotations or "hello.jsp" for the "return hello.jsp"-pattern). The " Ozark version 1.0.0-SNAPSHOT started"-messages show up in the log and there aren't any exceptions.

I tried wildfly 11 to 14 - same results.

Here

[2018-09-22 08:39] gtudan commented on #206
Excuse me - I somewhat forgot that the examples didn't ship the ozark-resteasy-module out-of-the-box. That's what you get for being on holiday for to long ;-)

Still there's something strange about the current master with wildfly that led me to try the example apps. I'm getting different errors on different wildfly versions. 14 compains that it cannot find an engine for the Viewable (with jsp), 13

[2018-09-22 08:39] #206 closed

[2018-09-23 05:49] chkal commented on #206
Ah, ok, thanks! I started to get worried, as we just released `1.0.0-m4`. :laughing:

[2018-09-23 07:02] chkal commented on #168
AWESOME! Thanks a lot @dmaidaniuk for digging into this. I already assumed that it has something to do with the CDI integration.

I just reopened [CXF-7834](https://issues.apache.org/jira/browse/CXF-7834) and included a link to your summary. I hope that this will help the CXF devs to reproduce this.

If anyone already has a minimal sample app (without Ozark) that reproduces this, feel free to atta

[2018-09-23 07:44] Daniel-Dos commented on #168
Hi @dmaidaniuk ,

very good.

I made the change in the example as presented by you.

thank you so much.

[2018-09-28 03:58] chkal commented on #151
Fixed! Thanks to @dmaidaniuk for helping with this.

[2018-09-28 03:58] #151 closed

[2018-09-29 15:39] gtudan opened #209 "Migrate examples to test suite"
It would be great to have am integration testsuite that runs locally, so that we can make sure we don't break anything. Currently the tests are more examples than tests as building, deploying and testing them is quiet difficult.

See here for the discussion on the mailing list: https://groups.google.com/d/msg/jsr371-users/NZXgRX9610E/jb1l706fCQAJ

[2018-09-30 07:09] chkal commented on #209
A big +1 for this! ;-)

One thing I would like to mention. As you may know we are currently in the process of migrating Ozark to the Eclipse Foundation (see the [Eclipse Krazo proposal](https://projects.eclipse.org/proposals/eclipse-krazo)). As part of this migration, we have to check the licenses of our dependencies to make sure that all the license are allowed (see #179). It MAY be possible, tha

[2018-10-03 12:07] chkal commented on #168
Hi all. There is a [new comment](https://issues.apache.org/jira/browse/CXF-7834?focusedCommentId=16635577&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-16635577) in the upstream CXF issue. Did anyone ever create a reproducer for the latest CXF version? Maybe a sample app which contains OWB and CXF in `WEB-INF/lib` and can be deployed to plain Tomcat?

[2018-10-03 12:51] Daniel-Dos commented on #168
@chkal,

 I can try to create an example later using CXF 3.2.6.

http://cxf.apache.org/download.html

[2018-10-03 13:05] chkal commented on #168
@Daniel-Dos That would be awesome! :beers:

[2018-10-04 06:14] Daniel-Dos commented on #168
Hi @chkal ,

I did the test using the latest version of CXF CXF 3.2.6 and also did it with 3.1.17 with Tomcat.

but the injection of param paramenter does not work, still returns blank although it has taken the information as in the image.

![cxf](https://user-images.githubusercontent.com/8139890/46455832-19112f80-c783-11e8-898b-58e0fd793735.png)

The example is in this link :

 https://github.com

[2018-10-04 07:03] chkal commented on #168
Great! Thanks a lot! Could you post a link to your example in the upstream issue [CXF-7834](https://issues.apache.org/jira/browse/CXF-7834)?

[2018-10-06 06:28] Daniel-Dos opened #211 "File Extension not work with Viewable"
when trying to use the file extension with the return type Viewable a 500 is displayed as shown in the screenshots:

![eeror](https://user-images.githubusercontent.com/8139890/46568238-cd43bf00-c917-11e8-8b82-73c540d66c3a.png)

![error2](https://user-images.githubusercontent.com/8139890/46568241-d16fdc80-c917-11e8-8bc2-130cc4926ea7.png)

I made a small correction in the following PR, where to add

[2018-10-06 08:13] chkal commented on #211
Good catch! And thanks for also creating the pull request to fix this issue. :+1:

[2018-11-14 13:55] graemerocher opened #218 "private field based binding should be re-considered"
Reading the spec, it seems that the pattern that is encouraged is this:

[code]

IMO this is a mistake looking to the future. There are several problems with this:

1. Thread safety if the controller is singleton. The controller would not automatically be thread safe, which would force the introduction of proxies that use request scope/ thread local, which impacts performance and memory consumptio

[2018-11-14 14:01] graemerocher commented on #218
Closed in favour of https://github.com/mvc-spec/mvc-spec/issues/206

[2018-11-14 14:01] #218 closed

[2018-11-22 15:32] CoSoCo commented on #146
I don't have the sample project data any more, so can't test it.

[2018-11-22 15:32] #146 closed

[2018-12-04 06:53] gtudan opened #220 "Inconsistent behavior of annotations on Glassfish and Wildfly"
Wildfly seems to behave different than Glassfish when inheriting annotations.

The "Annotations"-Example-App contains a test case for that: https://github.com/mvc-spec/ozark/blob/b94d83ff85a9267f1ae643650cf0f461a06f9021/examples/annotations/src/test/java/org/mvcspec/ozark/test/annotations/AnnotationsIT.java#L75

Glassfish will return an Error (HTTP 500) for this test, while wildfly renders the vie

[2018-12-04 07:55] chkal commented on #220
Just a quick note: My current guess is that this issue is related to the typical problems we get with CDI proxies. Especially the inheritance rules get very tricky if additional CDI proxy subclasses are involved.